section.info.info__withBg.info__advantages
    div.container
        p.subtitle возможности
        h2 Создавайте мультиязычные каналы и становитесь еще более популярным в мире.
        ul.info__list.advantages__list
            li.advantages__item
                span.advantages__value 0,0001
                span.advantages__title Средний лифт в AD RECALL
            li.advantages__item
                span.advantages__value 17%
                span.advantages__title Средний лифт узнаваемости бренда
            li.advantages__item
                span.advantages__value 11%
                span.advantages__title Средний лифт в намерении покупки
            li.advantages__item
                span.advantages__value 42%
                span.advantages__title Средний лифт в AD RECALL
