section.info.info__bloggers
    h2 Популярные блогеры
    div.glide.bloggers
        div.glide__track(data-glide-el="track")
            ul.slider__list.glide__slides
                li.slider__item.glide__slide
                    div.slider__img
                        img(src="./assets/images/blogger-img/sobolev.jpg" alt="sobolev photo")
                    div.slider__info
                        h3 Николай Соболев
                        div.slider__statistics
                            span.slider__subscribers 1 267 854 подписчиков
                            span.slider__views 241 000 просмотров
                        button.button.button--outline ПЕРЕЙТИ НА КАНАЛ
                li.slider__item.glide__slide
                    div.slider__img
                        img(src="./assets/images/blogger-img/photo2.jpg" alt="photo 2")
                    div.slider__info
                        h3 Николай Соболев
                        div.slider__statistics
                            span.slider__subscribers 1 267 854 подписчиков
                            span.slider__views 241 000 просмотров
                        button.button.button--outline ПЕРЕЙТИ НА КАНАЛ
                li.slider__item.glide__slide
                    div.slider__img
                        img(src="./assets/images/blogger-img/photo3.jpg" alt="photo 3")
                    div.slider__info
                        h3 Николай Соболев
                        div.slider__statistics
                            span.slider__subscribers 1 267 854 подписчиков
                            span.slider__views 241 000 просмотров
                        button.button.button--outline ПЕРЕЙТИ НА КАНАЛ
                li.slider__item.glide__slide
                    div.slider__img
                        img(src="./assets/images/blogger-img/sobolev.jpg" alt="sobolev photo")
                    div.slider__info
                        h3 Николай Соболев
                        div.slider__statistics
                            span.slider__subscribers 1 267 854 подписчиков
                            span.slider__views 241 000 просмотров
                        button.button.button--outline ПЕРЕЙТИ НА КАНАЛ
                li.slider__item.glide__slide
                    div.slider__img
                        img(src="./assets/images/blogger-img/photo3.jpg" alt="photo 3")
                    div.slider__info
                        h3 Николай Соболев
                        div.slider__statistics
                            span.slider__subscribers 1 267 854 подписчиков
                            span.slider__views 241 000 просмотров
                        button.button.button--outline ПЕРЕЙТИ НА КАНАЛ
        div.glide__bullets.slider__bullets(data-glide-el="controls[nav]")
            button.glide__bullet.slider__bullet(data-glide-dir="=0")
            button.glide__bullet.slider__bullet(data-glide-dir="=1")
            button.glide__bullet.slider__bullet(data-glide-dir="=2")
            button.glide__bullet.slider__bullet(data-glide-dir="=3")
            button.glide__bullet.slider__bullet(data-glide-dir="=4")
