section.info.info__download
    div.container
        div.info__column
            h2 Скачайте приложение Febspot
            p.subtitle Включите камеру на вашем телефоне и отсканируйте QR-код
            div.info__buttons
                button.button.button--solid.button__toAppStore
                button.button.button--solid.button__toGooglePlay
            div.info__qr
                img(src="./assets/images/downloads-img/qrCode.png" alt="qr to app store")
                img(src="./assets/images/downloads-img/qrCode.png" alt="qr to google play")
        div.info__img
            picture
                source(media="(max-width: 768px)" srcset="./assets/images/downloads-img/iphone-medium.png")
                img(src="./assets/images/downloads-img/iphone.png" alt="iphone img")
