footer
    div.container
        section.footer__download.info__download
            div.container
                div.info__column
                    div.info__buttons
                        button.button.button--solid.button__toAppStore
                        button.button.button--solid.button__toGooglePlay
        div.footer__info
            div.footer__column.footer__column--logo
                a.logo
                    img(src="./assets/images/logo-light.svg" alt="logo light")
            div.footer__column
                nav
                    h5.footer__links_title Fabspot
                    ul.footer__links
                        li.footer__link_wrapper
                            a(href="#").footer__link О нас
                        li.footer__link_wrapper
                            a(href="#").footer__link Блог
                        li.footer__link_wrapper
                            a(href="#").footer__link Правила
                        li.footer__link_wrapper
                            a(href="#").footer__link Вакансии
                        li.footer__link_wrapper
                            a(href="#").footer__link Febspot Premium
                        li.footer__link_wrapper
                            a(href="#").footer__link Febspot Музыка
            div.footer__column
                nav
                    h5.footer__links_title Партнёры
                    ul.footer__links
                        li.footer__link_wrapper
                            a(href="#").footer__link Реклама
                        li.footer__link_wrapper
                            a(href="#").footer__link Создатели
                        li.footer__link_wrapper
                            a(href="#").footer__link Разработчики
                        li.footer__link_wrapper
                            a(href="#").footer__link Пресса
                        li.footer__link_wrapper
                            a(href="#").footer__link Предпочитаемые составы
            div.footer__column
                nav
                    h5.footer__links_title Ресурсы
                    ul.footer__links
                        li.footer__link_wrapper
                            a(href="#").footer__link Авторские права
                        li.footer__link_wrapper
                            a(href="#").footer__link Руководство по бренду
                        li.footer__link_wrapper
                            a(href="#").footer__link Справочный центр
                        li.footer__link_wrapper
                            a(href="#").footer__link Конфиденциальность
                        li.footer__link_wrapper
                            a(href="#").footer__link Политика и безопасность
            div.footer__column
                nav
                    h5.footer__links_title Присоединяйтесь
                    ul.footer__links
                        li.footer__link_wrapper.twitter__footer__wrapper
                            a(href="#").footer__link.twitter__link
                                span Twitter
                        li.footer__link_wrapper.instagram__wrapper
                            a(href="#").footer__link.instagram__link
                                span Instagram
                        li.footer__link_wrapper.facebook__wrapper
                            a(href="#").footer__link.facebook__link
                                span Facebook
                div.footer__copyright
                    span.footer__copyright_text © 2020 Febspot
                    a(href="#").footer__copyright_link.button--underline Условия
    div.warning
        span.warning__info Febspot собирает информацию об использовании этого сайта, в частности размещает файлы cookie в браузерах посетителей
        button.button.button--solid.agree_cookie_warning.warning__button ОК

