header
    div.header__column
        a(href='/').logo
            img(src="./assets/images/logo.svg" alt="logo")
        form.form__search(method="POST" action="")
            div.form--click
            input.input(type="search" id="siteSearch" placeholder="Search video" autocomplete="off")
            div.search__result
                ul.search__list
                    li.search__item Курс ценных бумаг не позволил союзу развалиться
                    li.search__item Случайный текст похож на глас грядущего поколения
                    li.search__item Семантический разбор внешних противодействий обнадёживает
                    li.search__item Курс ценных бумаг не позволил союзу развалиться
                    li.search__item Случайный текст похож на глас грядущего поколения
                    li.search__item Семантический разбор внешних противодействий обнадёживает
    div.header__column.menu--mobile.menu--mobile--hidden
        nav.header__nav

            ul.menu
                li.menu__header_item Menu
                    div.menu__close
                li.menu__item
                    a.menu__link(href='#') Community
                li.menu__item
                    a.menu__link(href='#') Channels
                li.menu__item
                    a.menu__link(href='#') Playlist
                li.menu__item
                    a.menu__link(href='#') Popular
        div.select__lang.select__lang--close
            span.current_lang En
            ul.lang_list
                li.lang__header_item
                    div.lang__back
                    span Language
                    div.menu__close
                li.lang__item.lang__item--current
                    a.lang__link(href="/en") En
                    a.lang__link.lang__link--mobile(href="/en") English
                li.lang__item
                    a.lang__link(href="/es") Esp
                    a.lang__link.lang__link--mobile(href="/es") Spanish
                lI.lang__item
                    a.lang__link(href="/ru") Ru
                    a.lang__link.lang__link--mobile(href="/ru") Russian
        div.auth
            button.button.button--outline(data-name="logIn") Log in
            button.button.button--solid(data-name="signUp") Sign up
    include popups
    a.menu--toggle
        span.menu__line

