div.popup
    div.container
        div.popup__content
            h2(data-title-login="Авторизация" data-title-signup="Регистрация") Авторизация
            div.popup__tabs
                span.popup__switch.popup__switch--active(data-name="logIn") Вход
                span.popup__switch(data-name="signUp") Регистрация
            div.popup__forms
                form(action="#" method="POST" data-name="logIn").popup__form.form__signUp
                    input.input__form.input--error(type='email' placeholder="Электронный адрес")
                    input.input__form(type='password' placeholder="Пароль")
                    label.checkbox.checkbox--custom(for='rememberMe')
                        input(type="checkbox" id="rememberMe" name="rememberMe")
                        div.checkbox__input
                        span.checkbox__label Запомнить меня
                    button.button.button--solid Войти
                form(action="#" method="POST" data-name="signUp").popup__form.popup__form--show.form__logIn
                    input.input__form(type='text' placeholder="Логин")
                    input.input__form(type='password' placeholder="Пароль")
                    input.input__form(type='password' placeholder="Повторить пароль")
                    input.input__form(type='email' placeholder="E-mail")
                    div.captcha
                    button(type="submit").button.button--solid Зарегестрироваться
        div.popup__img.popup__img--show.popup__img_signUp(data-name="signUp")
        div.popup__img.popup__img_logIn(data-name="logIn")
