section.info.info__withBg.info__tagging
    div.container
        h1 We give everyone the opportunity to become better
        p.subtitle Become part of a large community by tagging your video
        button.button.button--solid СТАТЬ ПОПУЛЯРНЫМ