section.info.info__target
    div.container
        h2 Для кого нужен Febspot?
        p.subtitle Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        div.info__list
            div.info__item.info__author
                h3 Авторам
                span повысить вашу популярность и дать возможность зарабатывать на видео контенте.
                button.button.button--outline.button--underline read more
            div.info__item.info__advertiser
                h3 Рекламодателям
                span увеличить вашу целевую аудиторию в любом бизнесе мира.
                button.button.button--outline.button--underline read more