section.info.info__video
    div.container
        h2 Популярные видео
        p.subtitle Убеждённость некоторых оппонентов однозначно фиксирует необходимость анализа
        ul.info__list.video__list
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video1.jpg" alt="video 1")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video2.jpg" alt="video 2")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video3.jpg" alt="video 3")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video4.jpg" alt="video 4")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video5.jpg" alt="video 5")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video6.jpg" alt="video 6")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video7.jpg" alt="video 7")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video8.jpg" alt="video 8")
                    div.video__info
                        h5 Нет звука приятнее, чем треск разлетающихся скреп
                        div.video__statistics
                            span.video__views.video__views--desktop 245 000 просм.
                            span.video__views.video__views--mobile 245 тис.
                            span.video__likes 123 248