section.info.info__withBg.info__watch
    //div.video__wrapper
    //    video.video--watch#videoWatch(src="" playsinline poster="./assets/video/cover2.png" autoplay='false')
    div.container
        h2 Как найти своё место?
        p.subtitle Станьте частью большого сообщества, отмечайте ваше видео
        button.button.button--solid#videoPlay watch video