div.subscriptions.content--bg
    div.subscriptions__title
        h3 Подписки
        div.results__action_button
            span Фильтр
    article.subscription
        div.subscription__info
            img(src='./assets/images/subscribes-img/subscribe1.jpg' alt='subscribe 1')
            div.subscription__title
                h5 НТВ
                span.subscription__subscribers 35 млн. подписчиков
        ul.subscription__video.video__list
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video3.jpg" alt="video 3")
                    div.video__info
                        h5 Как бы то ни было, консультация с широким
                        span.video__subscribe Дурное дело
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video4.jpg" alt="video 4")
                    div.video__info
                        h5 Только реализация намеченных плановых
                        span.video__subscribe Нашу победу
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video9.jpg" alt="video 9")
                    div.video__info
                        h5 Частокол на границе оправдал надежды граждан
                        span.video__subscribe Все чаще
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
    article.subscription
        div.subscription__info
            img(src='./assets/images/subscribes-img/subscribe2.jpg' alt='subscribe 2')
            div.subscription__title
                h5 Россия 1
                span.subscription__subscribers 35 млн. подписчиков
        ul.subscription__video.video__list
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video14.jpg" alt="video 14")
                    div.video__info
                        h5 Только реализация намеченных плановых
                        span.video__subscribe Нашу победу
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video15.jpg" alt="video 15")
                    div.video__info
                        h5 Частокол на границе оправдал надежды граждан
                        span.video__subscribe Все чаще
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video16.jpg" alt="video 16")
                    div.video__info
                        h5 Британские ученые заявили, что обучение кадров
                        span.video__subscribe Добрая половина
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video17.jpg" alt="video 17")
                    div.video__info
                        h5 Сейчас всё чаще звучит грохот грома градущих
                        span.video__subscribe Сплочённость команды
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video18.jpg" alt="video 18")
                    div.video__info
                        h5 Только реализация намеченных плановых
                        span.video__subscribe Нашу победу
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video19.jpg" alt="video 19")
                    div.video__info
                        h5 Частокол на границе оправдал надежды граждан
                        span.video__subscribe Все чаще
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
    article.subscription
        div.subscription__info
            img(src='./assets/images/subscribes-img/subscribe2.jpg' alt='subscribe 2')
            div.subscription__title
                h5 Красный квадрат
                span.subscription__subscribers 35 млн. подписчиков
        ul.subscription__video.video__list
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video23.jpg" alt="video 23")
                    div.video__info
                        h5 Сейчас всё чаще звучит грохот грома градущих
                        span.video__subscribe Сплочённость команды
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video24.jpg" alt="video 24")
                    div.video__info
                        h5 Новая парадигма реальности: кровь стынет
                        span.video__subscribe Крепость духовных скреп
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
    article.subscription
        div.subscription__info
            img(src='./assets/images/subscribes-img/subscribe2.jpg' alt='subscribe 2')
            div.subscription__title
                h5 Давай поженимся!
                span.subscription__subscribers 35 млн. подписчиков
        ul.subscription__video.video__list
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video26.jpg" alt="video 26")
                    div.video__info
                        h5 Как бы то ни было, консультация с широким
                        span.video__subscribe Дурное дело
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video27.jpg" alt="video 27")
                    div.video__info
                        h5 Высококачественный прототип будущего проекта
                        span.video__subscribe Только реализация
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video28.jpg" alt="video 28")
                    div.video__info
                        h5 Как бы то ни было, консультация с широким
                        span.video__subscribe Дурное дело
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
            li.video__item
                a.video__link(href="#")
                    div.video__img
                        img(src="./assets/images/video-img/video29.jpg" alt="video 29")
                    div.video__info
                        h5 Новая парадигма реальности: кровь стынет
                        span.video__subscribe Крепость духовных скреп
                        div.video__statistics
                            span.video__views.video__views--mobile 530 тис.
                            span.video__date 1 месяц назад
