.video {
  &--notAvailable {
    &_title {
      font-size: 29px;
      padding-left: 12.7%;
    }
    & h3 {
      font-weight: 700;
      font-size: 50px;
      color: #ACACAC;
      padding-bottom: 30px;
    }
    &.content--bg {
      height: 820px;
      display: flex;
      align-items: center;
      background: linear-gradient(0deg, #EBEBEB, #EBEBEB);
      color: #ACACAC;
    }
    & .container {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 1%;
      margin-bottom: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 146px;
        height: 146px;
        background: url("./assets/images/icons/smile.svg") no-repeat;
        background-size: contain;
      }
    }
  }
}

.container {
  &--notAvailable {
    padding-left: 19px;
    padding-top: 40px;
    padding-bottom: 60px;
    & .video__list {
      width: 102%;
      margin: 0 -25px;
    }
    & .video__item {
      margin: 31px 15px 0px;
    }
    & .video__views--desktop.video__views--mobile, .video__views--mobile.video__views--mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 1440px) {
  .video {
    &--notAvailable {
      & .container {
        padding-left: 5%;
      }
      &.content--bg {
        height: 600px;
      }
      &_title {
        padding-left: 190px;
      }
    }
  }
  .container--notAvailable {
    padding-left: 5%;
    & .video__list {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 768px) {
  .video {
    &--notAvailable {
      & h3 {
        font-size: 35px;
        padding-bottom: 10px;
      }
      & .container {
        padding-left: 5%;
        &::before {
          width: 100px;
          height: 100px;
        }
      }
      &.content--bg {
        height: 500px;
      }
      &_title {
        padding-left: 150px;
        & span {
          font-size: 20px;
        }
      }
    }
  }
  .container--notAvailable {
    &.container {
      width: 500px;
      padding-left: 0;
      & .video__list {
        justify-content: flex-start;
      }
    }
    & .video__list {
      margin: 0;
    }
    & .video__item {
      margin: 31px 12px 0px;
    }
  }
}
@media screen and (max-width: 530px) {
  .video {
    &--notAvailable {
      & h3 {
        font-size: 25px;
        padding-bottom: 0;
      }
      & .container {
        padding-left: 5%;
        &::before {
          width: 75px;
          height: 75px;
        }
      }
      &.content--bg {
        height: 300px;
      }
      &_title {
        padding-left: 90px;
        & span {
          font-size: 16px;
        }
      }
    }
  }
  .container--notAvailable {
    padding-left: 5%;
    &.container {
      width: 320px;
    }
    & .video__list {
      width: 100%;
      justify-content: flex-start;
    }
    & .video__link {
      width: 100%;
      flex-direction: column;
    }
    & .video__item {
      margin: 31px 0 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  .video {
    &--notAvailable {
      & h3 {
        font-size: 20px;
      }
      & .container {
        padding-left: 5%;
        &::before {
          width: 70px;
          height: 70px;
        }
      }
      &_title {
        padding-left: 90px;
        & span {
          font-size: 12px;
        }
      }
    }
  }
  .container--notAvailable {
    & h4 {
      padding-left: 10px;
    }
    & .video__img {
      width: 290px;
      max-height: 178px;
    }
    & .video__info {
      width: 100%;
      padding-left: 22px;
      & h5 {
        font-size: 16px;
        padding-top: 10px;
      }
    }
  }
}