.info {
  &__advantages {
    padding-top: 205px;
    padding-bottom: 105px;
    & .container {
      flex-direction: column;
      padding-left: 1%;
    }
    & .subtitle {
      font-size: 23px;
      line-height: 120%;
      letter-spacing: 2.2px;
      padding-bottom: 35px;
      text-align: start;
    }
    & h2 {
      padding-right: 15%;
      line-height: 83px;
      text-align: start;
    }
    background: url("./assets/images/bg/advantages-bg.jpg") no-repeat top center;
    background-size: cover;
  }
}

.advantages {
  &__list {
    padding-top: 52px;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    max-width: 19%;
    &:hover {
      cursor: text;
    }
  }
  &__value {
    font-size: 100px;
  }
  &__title {
    font-size: 30px;
    padding-top: 15px;
    line-height: 114.8%;
    padding-right: 55px;
  }
}

@media screen and (max-width: 1440px) {
  .advantages {
    &__value {
      font-size: 60px;
    }
    &__list {
      padding-top: 30px;
    }
    &__title {
      font-size: 18px;
      padding-right: 15%;
      padding-top: 8px;
    }
  }
  .info__advantages {
    padding-top: 125px;
    & h2 {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .info__advantages h2 {
    font-size: 50px;
    line-height: 63px;
    padding-right: 33%;
  }
}

@media screen and (max-width: 1100px) {
  .info__advantages h2 {
    padding-right: 25%;
  }
  .advantages__title {
    padding-right: 10%;
  }
  .advantages__item {
    max-width: 23%;
  }
}

@media screen and (max-width: 940px) {
  .advantages__value {
    font-size: 56px;
  }
  .info__advantages {
    padding-top: 75px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .info__advantages {
    background: url("./assets/images/bg/advantages-bg-medium.jpg") no-repeat top center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 60px;
    & h2 {
      line-height: 114.8%;
      padding-right: 25%;
      font-size: 38px;
    }
    & .container {
      padding-left: 20px;
    }
    & .subtitle {
      padding-bottom: 18px;
    }
  }
  .advantages {
    &__item {
      max-width: 18.5%;
      &:nth-of-type(2) {
        margin-left: 8.5%;
      }
    }
    &__value {
      letter-spacing: 2px;
    }
    &__title {
      padding-top: 10px;
      padding-right: 10%;
    }
  }
}

@media screen and (max-width: 700px) {
  .advantages {
    &__value {
      font-size: 40px;
    }
    &__list {
      flex-wrap: wrap;
      padding-top: 25px;
    }
    &__item {
      min-width: 43%;
      padding-bottom: 15px;
    }
    &__title {
      font-size: 12px;
      padding-top: 12px;
      padding-right: 29%;
    }
  }
  .info__advantages {
    padding-bottom: 4px;
    padding-top: 10px;
    & .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    & h2 {
      font-size: 22px;
      padding-right: 0;
    }
    & .subtitle {
      font-size: 16px;
      letter-spacing: 1px;
      padding-bottom: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .info__advantages {
    background: url("./assets/images/bg/advantages-bg-small.jpg") no-repeat top center;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .advantages {
    &__value {
      letter-spacing: 0px;
    }
  }
}