@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


.info {
  &__bloggers {
    display: flex;
    width: 1920px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #fafafa;
    padding-top: 50px;
    & h2 {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }
}

.slider {
  &__list {
    display: flex;
    padding-bottom: 100px;
    & h3 {
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    & .button {
      min-height: 40px;
      padding: 0 22px;
      color: $accent-color;
      font-size: 16px;
      margin-top: 15px;
      letter-spacing: 1.8px;
      &:hover {
        color: $light-color;
        background-color: $button-bg;
      }
    }
  }

  &__bullets {
    bottom: 60px;
  }

  &__bullet {
    transition: none;
    background-color: #282525;
    width: 10px;
    height: 10px;
    margin: 0 7.5px;

    &:hover {
      background-color: #282525;
      border: none;
    }

    &:focus {
      border: none;
      background-color: #282525;
    }

    &.glide__bullet--active {
      background-color: #f02730;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  &__img {
    margin-right: 22px;
    min-width: 100px;
    height: 100px;
    & img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    & .button {
      width: 229px;
      letter-spacing: 1.4px;
    }
  }
  &__statistics {
    display: flex;
  }
  &__views,
  &__subscribers {
    flex-shrink: 0;
  }
  &__subscribers {
    display: flex;
    align-items: center;
    margin-right: 25px;
    &::before {
      content: "";
      background:  url("./assets/images/icons/person.svg") no-repeat;
      margin-right: 10px;
      width: 13px;
      height: 14px;
      background-size: contain;
    }
  }
  &__views {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      background: url("./assets/images/icons/play.svg") no-repeat;
      margin-right: 10px;
      width: 10px;
      height: 14px;
      background-size: contain;
    }
  }
}
@media screen and (min-width: 1921px) {
  .info {
    &__bloggers {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1920px) {
  .info {
    &__bloggers {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {

  .info {
    &__bloggers {
      padding-top: 40px;
      & h2 {
        margin-bottom: 33px;
      }
    }
  }
  .slider {
    &__list {
      padding-bottom: 72px;
      & h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      & .button {
        font-size: 12px;
        letter-spacing: 0.7px;
        padding: 0 15px;
        margin-top: 5px;
        width: 164px;
      }
    }
    &__bullets {
      bottom: 50px;
    }
    &__bullet {
      width: 7px;
      height: 7px;
      margin: 0 5.2px;
    }
    &__img {
      min-width: 70px;
      width: 70px;
      height: 70px;
      margin-right: 14px;
      display: flex;
    }
    &__statistics {
      span {
        font-size: 11px;
      }
    }
    &__subscribers {
      margin-right: 15px;
      &::before {
        width: 9px;
        height: 9.5px;
        background-size: contain;
      }
    }
    &__views {
      &::before {
        width: 7px;
        height: 9.5px;
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .info {
    &__bloggers {
      padding-top: 20px;
      & h2 {
        margin-top: 0px;
        margin-bottom: 27px;
      }
    }

    & .button {
      letter-spacing: 1.5px;
      align-self: center;
    }
  }
  .slider {
    &__statistics {
      flex-direction: column;
      & span {
        font-size: 12px;
      }
    }
    &__subscribers {
      margin-bottom: 12px;
      &::before {
        margin-right: 5px;
        width: 10px;
        height: 11px;
      }
    }
    &__views {
      &::before {
        margin-right: 5px;
      }
    }
    &__bullets {
      bottom: 30px;
    }
    &__views {
      &::before {
        margin-left: 2px;
      }
    }
    &__list {
      padding-bottom: 50px;
      & .button {
        margin-top: 0;
        letter-spacing: 0.5px;
      }
      & h3 {
        font-size: 18px;
        margin-bottom: 8px;
      }
    }
    &__img {
      min-width: 60px;
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }
}
