.complain {
  & .container {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 48px;
    & aside {
      background-color: $light-color;
      border-radius: 5px;
      flex-shrink: 0;
    }
    & .content {
      padding-left: 30px;
    }
  }
  & .complain__content,
  & .complain__copyright {
    padding-left: 30px;
  }
  & .complain__copyright {
    & .form__column {
      &::before {
        display: none;
      }
    }
    & h5 {
      padding-bottom: 27px;
    }
    & .form__column:nth-of-type(1)::after {
      display: none;
    }
    & .info__card {
      display: flex;
      align-items: flex-start;
      position: relative;
      padding-left: 25px;
      font-size: 14px;
      line-height: 19px;
      padding-right: 23%;
      &:not(:last-of-type) {
        padding-bottom: 31px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        display: flex;
        width: 15px;
        height: 2px;
        flex-shrink: 0;
        background-color: $accent-color;
      }
    }
    & .form__steps {
      padding: 30px 76px 44px 40px;
    }
    & .form__column:nth-of-type(1) {
      padding-bottom: 35px;
    }
    & .form__column:nth-of-type(2) {
      & h5 {
        padding-bottom: 12px;
      }
    }
  }
  & .complain__copyright,
  & .complain__technical {
    & h3 {
      font-size: 28px;
    }
  }
  & .complain__technical {
    padding-left: 30px;
    & .form__steps {
      padding: 30px 76px 44px 76px;
    }
    & .select--custom {
      display: none;
    }
    & textarea {
      font-family: inherit;
      padding: 23px 25px;
    }
    & textarea.input__form:nth-of-type(1) {
      margin-top: 0;
      width: 587px;
    }
    & .form__column {
      &:nth-of-type(1) {
        padding-bottom: 42px;
      }
      &:nth-of-type(2) {
        padding-bottom: 40px;
        &::after {
          content: "";
          position: absolute;
          left: -31px;
          top: 0;
          width: 1px;
          height: 100%;
          display: flex;
          background-color: #F02730;
          z-index: 7;
        }
      }
      &:nth-of-type(3) {
        &::before {
          content: "3";
        }
      }
    }
    & .checkbox__list {
      padding-top: 32px;
    }
    & .checkbox__input {
      margin: 0 10px 0 0px;
    }
    & .checkbox--custom {
      &:not(:last-of-type) {
        padding-bottom: 32px;
      }
    }
  }
  & h3 {
    padding-bottom: 35px;
    font-size: 24px;
    padding-top: 3px;
  }
  & h5 {
    padding-bottom: 14px;
  }
  & .info__list {
    flex-direction: column;
  }
  &__buttons {
    & .glide__slides {
      flex-direction: column;
    }
    & .button {
      line-height: 65px;
      width: 100%;
      padding: 2px 30px 0;
      text-align: start;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      &:nth-of-type(1) {
        border-radius: 5px 5px 0 0;
      }
      &:nth-of-type(2) {
        border-radius: 0px;
      }
      &:nth-of-type(3) {
        border-radius: 0 0 5px 5px;
      }
    }
  }
  & .form {
    &__steps {
      padding: 34px 76px 44px 76px;
    }
    &__subtitle {
      font-size: 14px;
      color: $dark-color;
    }
    &__column {
      position: relative;
      &::before {
        content: "1";
        position: absolute;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent-color;
        color: #ffffff;
        left: -46px;
        top: -4px;
        z-index: 77;
      }
      &:nth-of-type(1) {
        &::before {
          content: "1";
        }
        &::after {
          content: "";
          position: absolute;
          left: -31px;
          top: 0;
          width: 1px;
          height: 100%;
          display: flex;
          background-color: $accent-color;
          z-index: 7;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: "2";
        }
      }
    }
  }
  & .input__form,
  & .input__file,
  & .button[type="submit"] {
    width: 433px;
  }
  & .input__form {
    line-height: 58px;
    padding: 0px 25px 1px;
    &:nth-of-type(1) {
      margin-top: 30px;
    }
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  & .input__file {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
    padding-left: 25px;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      display: flex;
      width: 20px;
      height: 19px;
      background: url("./assets/images/icons/chain.svg") no-repeat center;
      background-size: contain;
      margin-right: 10px;
      flex-shrink: 0;
      &:hover {
        cursor: pointer;
      }
    }
    & input {
      display: none;
    }
    & span {
      font-size: 14px;
      font-weight: normal;
      color: $accent-color;
      display: inline-flex;
      align-items: center;
      position: relative;
      border-bottom: 1px dashed;
      line-height: 19px;
      &:hover {
        color: #E61F28;
      }
    }
  }
  & button[type="submit"] {
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 58px;
    letter-spacing: 1.3px;
  }
}

@media screen and (max-width: 1440px) {
  .complain {
    & .container {
      & aside {
        width: 290px;
        flex-shrink: 0;
      }
    }
    &__buttons {
      width: 100%;

      & ul {
        & .button {
          font-size: 13px;
        }
      }
    }
    & .complain__copyright {
      & h3 {
        font-size: 24px;
      }
      & .info__card {
        padding-right: 10%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .complain {
    & .complain__content,
    & .complain__copyright {
      padding-left: 20px;
    }
    & h3 {
      padding-bottom: 30px;
      padding-top: 25px;
    }
    & .container {
      flex-direction: column;
      padding-left: 0;
      width: 768px;
      padding-top: 20px;
      padding-bottom: 30px;
      & aside {
        border-radius: 0;
        width: 100%;
      }
      & .content {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
      }
    }
    &__buttons {
      width: 100%;
      & .glide__slides {
        flex-direction: row;
      }
      & ul {
        display: flex;
        width: 100%;
        & .button {
          padding: 2px 11px 0;
          font-size: 14px;
          line-height: 58px;
          letter-spacing: 0.75px;
          width: 32%;
          text-align: center;
          &:nth-of-type(1) {
            border-radius: 0;
          }
          &:nth-of-type(2) {
            width: 36%;
          }
          &:nth-of-type(3) {
            border-radius: 0;
          }
        }
      }
    }
    & .form__steps {
      padding: 34px 60px 44px 77px;
    }
    & .complain__copyright {
      & .info__card {
        padding-right: 0;
      }
      & .form__steps {
        padding: 27px 58px 44px 31px;
      }
      & .form__column:nth-of-type(1) {
        padding-bottom: 50px;
      }
    }
    & .complain__technical {
      padding-left: 10px;
      & h3 {
        font-size: 24px;
        padding-left: 10px;
      }
      & .form__steps {
        padding: 25px 30px 44px 76px;
      }
      & .form__column:nth-of-type(1) {
        padding-bottom: 30px;
      }
      & .form__column:nth-of-type(2) {
        padding-bottom: 27px;
      }
      & .radioButton__list {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .complain {
    & .complain__content,
    & .complain__copyright {
      padding-left: 0;
      & h3 {
        font-size: 20px;
        padding: 25px 15px 22px;
      }
    }
    & .choices[data-type*=select-one]:after {
      content: '';
      background: url("./assets/images/icons/arrow-red.svg") no-repeat center;
      border: none;
      width: 11px;
      height: 7px;
      margin-top: -5.5px;
      right: 15.5px;
    }
    & .container {
      width: 320px;
      padding-bottom: 20px;
      & .content {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    & h5 {
      font-size: 16px;
      padding-bottom: 12px;
    }
    &__buttons {
      & .glide__slide {
        width: 200px;
      }
      & ul .button {
        font-size: 12px;
        line-height: 44px;
        width: 219px;
      }
    }
    & .form__steps {
      padding: 24px 15px 0;
    }
    & .form__subtitle {
      font-size: 13px;
      line-height: 20px;
    }
    & .form__column {
      &::before {
        display: none;
      }
      &:nth-of-type(1) {
        &::after {
          display: none;
        }
        & .form__subtitle {
          padding-bottom: 20px;
        }
      }
      &:nth-of-type(2) {
        padding-top: 47px;
      }
    }
    & .input__form,
    & .input__file,
    & .button[type="submit"] {
      width: 100%;
    }
    & .input__form {
      line-height: 42px;
      padding: 0px 11px 1px;
    }
    & .radioButton__list {
      display: none;
    }
    .input__form:nth-of-type(1) {
      margin-top: 20px;
    }
    & .input__file {
      padding-left: 15px;
      &::before {
        width: 15px;
        height: 14px;
      }
      & span {
        font-size: 13px;
        padding-right: 20px;
        line-height: 18px;
        border-bottom: none;
      }
    }
    & .button[type="submit"] {
      font-size: 12px;
      line-height: 41px;
      letter-spacing: 1px;
      margin-top: 20px;
    }
    & .complain__copyright {
      & h5 {
        padding-bottom: 6px;
      }
      & .form__column:nth-of-type(1) {
        padding-bottom: 0px;
      }
      & .form__column:nth-of-type(2) {
        padding-top: 35px;
      }
      & .info__card {
        font-size: 13px;
        line-height: 18px;
        padding-left: 20px;
        &:not(:last-of-type) {
          padding-bottom: 29px;
        }
        &::before {
          width: 10px;
        }
      }
      & .form__steps {
        padding: 0 15px 5px;
      }
    }
    & .complain__technical {
      padding-right: 10px;
      & textarea {
        display: none;
      }
      & h3 {
        font-size: 20px;
        padding: 24px 15px 0 5px;
      }
      & h5 {
        padding-right: 50px;
        line-height: 20px;
      }
      & .form__steps {
        padding: 42px 5px 10px;
      }
      & .choices__inner, .choices__item {
        padding-right: 20px;
        line-height: 16px;
      }
      & .select--custom {
        display: block;
        width: 100%;
      }
      & .form__column:nth-of-type(1) {
        padding-bottom: 25px;
      }
      & .form__column:nth-of-type(2) {
        padding-top: 0;
        padding-bottom: 45px;
        & h5 {
          padding-right: 15px;
        }
        &::after {
          display: none;
        }
      }
      & .checkbox__list {
        padding-top: 7px;
        padding-right: 20px;
      }
      & .checkbox__input {
        flex-shrink: 0;
      }
      & .checkbox--custom:not(:last-of-type) {
        padding-bottom: 27px;
      }
      & .checkbox__label {
        font-size: 13px;
        line-height: 16px;
      }
      & .checkbox {
        align-items: flex-start;
      }
    }
  }
}