.copyright {
  & .container {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 1%;
    padding-right: 1%;
  }
  & .subtitle {
    color: #282525;
    font-size: 30px;
  }
  & h1 {
    padding-bottom: 36px;
    padding-right: 20%;
  }
  &__column {
    &:nth-of-type(1) {
      margin-right: 10%;
      & .subtitle {
        line-height: 37px;
      }
    }
    &:nth-of-type(2) {
      width: 476px;
      margin-top: 5px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      background: url("./assets/images/bg/copyright-bg.png") no-repeat center;
      color: $light-color;
      padding: 50px 40px 60px;
      & h5 {
        font-size: 22px;
        color: $light-color;
        padding-bottom: 23px;
      }
      & .subtitle {
        font-size: 22px;
        line-height: 28px;
        padding-bottom: 40px;
        color: $light-color;
      }
    }
  }
  & .button {
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }
}

.defects {
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 2%;
  &__row {
    &:not(:last-of-type) {
      margin-bottom: 98px;
    }
  }
  & h5 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  & .subtitle {
    font-size: 18px;
    color: #282525;
    padding-right: 60%;
    line-height: 23px;
  }
  & .card__list {
    display: flex;
    margin-top: 32px;
  }
  & .card__item {
    margin-right: 20px;
    width: 335px;
    height: 244px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.02), 0px 10px 40px rgba(38, 38, 38, 0.05);
    border-radius: 7px;
    padding: 40px;
    transition: all 0.1s linear;
    & h6 {
      font-size: 18px;
      font-weight: 500;
      color: #282525;
      padding-top: 30px;
      line-height: 23px;
      transition: all 0.1s linear;
    }
    & svg path {
      fill: #F02730;
      transition: all 0.1s linear;
    }
    &:hover {
      cursor: pointer;
      background: #F02730;
      box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.02), 0px 10px 40px rgba(38, 38, 38, 0.05);
      & h6 {
        font-weight: 700;
        color: $light-color;
      }
      & svg path {
        fill: $light-color;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .copyright {
    & h1 {
      font-size: 57px;
      line-height: 70px;
      padding-right: 0%;
    }
    & .subtitle {
      font-size: 24px;
      line-height: 33px;
    }
  }
  .copyright,
  .defects {
    & .container {
      width: 1000px;
    }
  }
  .copyright__column:nth-of-type(1) {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .copyright,
  .defects {
    & .container {
      width: 768px;
    }
  }
  .copyright {
    & h1 {
      font-size: 40px;
      padding-bottom: 18px;
    }
    & .subtitle {
      font-size: 18px;
      line-height: 27px;
    }
    & .button {
      line-height: 58px;
      font-size: 14px;
    }
    &__column {
      &:nth-of-type(2) {
        width: 350px;
      }
    }
  }
  .copyright__column:nth-of-type(2) .subtitle {
    font-size: 17px;
    line-height: 27px;
  }
}

@media screen and (max-width: 767px) {
  .copyright,
  .defects {
    & .container {
      width: 320px;
    }
  }
  .copyright {
    & h1 {
      font-size: 28px;
      padding-bottom: 10px;
      line-height: 114.8%;
      text-align: start;
    }
    & .container {
      flex-direction: column;
      padding-top: 10px;
    }
    & .button {
      line-height: 44px;
      font-size: 12px;
      letter-spacing: 1.3px;
    }
    &__column {
      &:nth-of-type(1) {
        margin-right: 0%;
        margin-bottom: 12px;
        & .subtitle {
          font-size: 12px;
          line-height: 140%;
        }
      }
      &:nth-of-type(2) {
        text-align: center;
        & .subtitle {
          font-size: 12px;
        }
        & h5 {
          font-size: 16px;
          padding-bottom: 3px;
        }
      }
    }
  }
  .copyright__column:nth-of-type(1) {
    padding-left: 12px;
    padding-right: 15%;
  }
  .copyright__column:nth-of-type(2) {
    width: 100%;
    padding: 20px 38px 20px;
    & .subtitle {
      line-height: 18px;
      padding-bottom: 18px;
    }
  }
  .defects {
    padding-top: 20px;
    & h5 {
      font-size: 28px;
    }
    & .subtitle {
      font-size: 16px;
      padding-right: 0;
      font-weight: 500;
    }
    & .card__item {
      flex-shrink: 0;
      width: 237px;
      height: 110px;
      padding: 15px 15px 18px;

      & h6 {
        font-size: 12px;
        padding-top: 10px;
      }
    }
    &__row {
      &:nth-of-type(1) {
        & .card__item {
          &:nth-of-type(1) {
            & .card__img svg {
              width: 46px;
              height: 35px;
            }
          }
          &:nth-of-type(2) {
            & .card__img svg {
              width: 40px;
              height: 35px;
            }
          }
          &:nth-of-type(3) {
            & .card__img svg {
              width: 20px;
              height: 35px;
            }
          }
          &:nth-of-type(4) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      &:nth-of-type(2) {
        & .card__item {
          &:nth-of-type(1) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
          &:nth-of-type(2) {
            & .card__img svg {
              width: 38px;
              height: 35px;
            }
          }
          &:nth-of-type(3) {
            & .card__img svg {
              width: 30px;
              height: 40px;
            }
          }
          &:nth-of-type(4) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      &:nth-of-type(3) {
        & .card__item {
          &:nth-of-type(1) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
          &:nth-of-type(2) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
          &:nth-of-type(3) {
            & .card__img svg {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}