.info {
  &__download {
    padding-top: 155px;
    & .container {
      align-items: flex-start;
      padding: 0 145px 0 20px;
      & .info__column {
        &:nth-of-type(1) {
          padding-top: 60px;
        }
      }
    }
    &.info .subtitle {
      font-size: 24px;
      font-weight: 400;
      padding-right: 45%;
      text-align: start;
    }
    &.info h2 {
      padding-right: 15%;
      line-height: 83px;
      text-align: start;
    }
    & .info__buttons {
      & button:nth-of-type(1) {
        margin-right: 20px;
      }
    }
    & .info__img {
      width: 480px;
      flex-shrink: 0;
      & picture {
        display: flex;
        align-items: flex-start;
      }
      & img {
        width: 100%;
        height: auto;
      }
    }
    & .info__buttons {
      margin-top: 31px;
    }
    & .info__qr {
      margin-top: 32px;
      padding-left: 30px;
      & img {
        &:nth-of-type(1) {
          margin-right: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .info {
    &__download {
      & .container {
        padding: 0 50px 0 20px;
      }
      &.info h2 {
        padding-right: 12%;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .info {
    &__download {
      & .info__img {
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
      }
      & .info__qr {
        & img {
          width: 150px;
          height: auto;
        }
      }
      & .container {
        padding: 0 20px 0 20px;
      }
      &.info h2 {
        font-size: 50px;
        line-height: 64px;
      }
    }
  }

}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .info {
    &__download {
      &.info .subtitle {
        padding-right: 25%;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .info {
    &__download {
      padding-top: 100px;
      & .info__img {
        width: 430px;
      }
      & .info__qr {
        padding-left: 0;
        margin-top: 15px;
        & img {
          &:nth-of-type(1) {
            margin-right: 50px;
          }
        }
      }
      &.info h2 {
        font-size: 38px;
        line-height: 114.8%;
        padding-right: 5%;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .info {
    &__download {
      padding-top: 32px;
      .info__buttons button:nth-of-type(1) {
        margin-right: 12px;
      }
      & .info__qr {
        & img {
          width: 125px;
          &:nth-of-type(1) {
            margin-right: 25px;
          }
        }
      }
      & .info__img {
        width: 350px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    &__download {
      & .info__qr {
        display: none;
      }
      &.info h2 {
        padding-right: 10%;
      }
      & .info__img {
        width: 307px;
      }
      &.info .subtitle {
        font-size: 18px;
        line-height: 130%;
        padding-top: 25px;
        padding-right: 30%;
      }
      & .container {
        padding: 0 3.5% 0 20px;
        align-items: center;
        & .info__column {
          &:nth-of-type(1) {
            padding-top: 0px;
          }
        }
      }
      & .info__buttons {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .info {
    &.info__download {
      display: none;
    }
  }
  .info {
    &__download {
      &.info h2 {
        text-align: center;
        padding-right: 0;
      }
      &.info .subtitle {
        text-align: center;
        padding-right: 0;
      }
      & .container {
        padding: 0;
        & .info__column {
          &:nth-of-type(1) {
            width: 100%;
          }
        }
      }
      & .info__buttons {
        display: flex;
        margin-top: 23px;
        & .button {
          width: 123px;
        }
      }
    }
    &__column {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
      &::before {
        content: "Скачайте приложение";
        font-weight: 500;
        font-size: 15px;
        line-height: 114.8%;
        color: $light-color;
      }
    }
  }
}