.filter, .results__video {
  flex-shrink: 0;
}

.results__video {
  width: calc(100% - 327px);
  padding-left: 30px;
  padding-bottom: 50px;
  padding-right: 40px;
}

.filter {
  width: 327px;
  margin-left: 20px;
  & h5 {
    font-size: 22px;
    color: $dark-color;
    margin-bottom: 20px;
  }
  &__column {
    padding: 30px;
    margin-bottom: 61px;
    background-color: $light-color;
    position: relative;
    &:not(:last-of-type) {
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background: #EBEBEB;
        position: absolute;
        bottom: -32px;
        left: 0;
      }
    }
    &:nth-of-type(2) {
      & h5 {
        margin-bottom: 30px;
      }
    }
  }
}

.results {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .container {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
  }
  & .video__views--mobile {
    display: flex;
  }
}

.results__action_button {
  font-weight: 500;
  font-size: 18px;
  color: $dark-color;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 19px;
    height: 19px;
    display: flex;
    background: url("./assets/images/icons/filter-icon.svg") no-repeat center;
    background-size: contain;
    margin-right: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

.filter {
  & .checkbox {
    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
    &__label {
      font-size: 18px;
    }
  }
  & .checkbox__input {
    margin: 0 15px 0 0;
    width: 27px;
    height: 27px;
    border: 8px solid #D3D3D3;
    border-radius: 100%;
    background: #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
      border: 8px solid #D0D0D0;
      cursor: pointer;
    }
    &:active {
      border: 8px solid #AAAAAA;
    }
    &::before {
      display: none;
    }
  }
  input[type="checkbox"] {
    &:checked ~ .checkbox__input {
      border: 8px solid #F02730;
      &::before {
        display: none;
      }
      &:hover {
        border: 8px solid #E61F28;
      }
      &:active {
        border: 8px solid $accent-color;
      }
    }
  }
}

.results__video {
  & .results__list {
    margin: 0;
    justify-content: space-between;
  }
  & .video__item {
    margin: 30px 0 3px 0;
  }
}

.liked,
.history {
  & .title {
    font-size: 28px;
  }
}

.liked {
  & h5 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .results {
    .container {
      width: 1000px;
    }
    & .video__link {
      width: 305px;
    }
    & .results__video {
      padding-right: 0;
    }
    & .video__item {
      & h5 {
        font-size: 17px;
        padding-right: 30px;
      }
    }
  }
  .filter {
    margin-left: 0px;
    width: 300px;
    &__column {
      padding: 25px 30px;
    }
    & .checkbox__label {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .results {
    .container {
      width: 728px;
    }
    &__video {
      width: calc(100% - 228px);
      padding-left: 20px;
      padding-right: 0;
    }
    & .video__link {
      width: 228px;
    }
    & .video__item {
      margin: 20px 0 7px 0;
      & h5 {
        font-size: 14px;
        padding-right: 20px;
      }
    }
    & .video__statistics {
      margin-top: 12px;
      & span {
        font-size: 12px;
        &:nth-of-type(1) {
          margin-right: 18px;
        }
      }
    }
    & .video__views--desktop::before, .video__views--mobile::before {
      width: 13px;
      height: 11px;
    }
  }
  .filter {
    width: 228px;
    & .checkbox:not(:last-of-type) {
      margin-bottom: 24px;
    }
    &__column {
      padding: 25px 20px;
      margin-bottom: 51px;
      :not(:last-of-type)::before {
        bottom: -27px;
      }
      &:nth-of-type(2) {
        padding-top: 29px;
        padding-bottom: 35px;
      }
    }
    & h5 {
      font-size: 19px;
      margin-bottom: 22px;
    }
    & .checkbox__label {
      font-size: 15px;
    }
    & .checkbox__input {
      width: 24px;
      height: 24px;
      border: 7px solid #D3D3D3;
    }
  }
  .liked,
  .history {
    & .title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
    .filter {
      display: none;
    }
    .results {
      &__row {
        & .title {
          font-size: 15px;
        }
      }
      &__video {
        width: 100%;
        padding-left: 0;
      }
      &__action_button {
        & span {
          display: none;
        }
        &::before {
          width: 22px;
          height: 22px;
          margin-right: 3px;
        }
      }
      & .container {
        width: 290px;
        padding-top: 16px;
      }
      & .video__link {
        flex-direction: column;
        width: 290px;
      }
      & .video__info {
        width: 100%;
        padding-left: 0;
        padding-top: 12px;
      }
      & .video__item {
        margin: 20px 0 10px 0;
        & h5 {
          font-size: 18px;
          line-height: 22px;
        }
      }

      & .video__statistics {
        margin-top: 17px;
        & span {
          font-size: 14px;
          &:nth-of-type(1) {
            margin-right: 22px;
          }
        }
      }
      & .video__img {
        width: 290px;
        height: 178px;
        max-height: 178px;
      }
      & .video__views--mobile {
        &::before {
          width: 15px;
          height: 13px;
        }
      }
    }
  .liked,
  .history {
    & .title--mobile {
      font-size: 20px;
    }
  }
  .liked {
    & h5 {
      margin-bottom: 25px;
    }
  }
}