.info {
  & .container {
    display: flex;
  }
  & .subtitle {
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    padding-top: 25px;
    text-align: center;
  }
  &__withBg {
    color: $light-color;
    & h1,
    & h2 {
      color: $light-color;
    }
    & .subtitle {
      font-weight: 400;
    }
  }
  &__list {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .info {
    & .subtitle {
      font-size: 18px;
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .info {
    & .subtitle {
      font-size: 12px;
      line-height: 130%;
      padding-top: 15px;
    }
  }
}