@import '~rangeslider-pure/dist/range-slider.css';

.info {
  &__aboutUs {
    background: url("./assets/images/bg/info-bg.jpg") no-repeat top center;
    padding-top: 225px;
    padding-bottom: 60px;
    & .container {
      flex-direction: column;
      align-items: center;
    }
    & .subtitle {
      padding: 32px 16% 0;
    }
    & .button {
      line-height: 80px;
      margin-top: 33px;
      letter-spacing: 1.8px;
      padding: 2px 60px 0;
    }
  }
  &__videoContent {
    background: url("./assets/images/bg/ingo-bg1.jpg") no-repeat top center;
    & .container {
      flex-direction: column;
      padding-top: 122px;
      padding-bottom: 97px;
      padding-left: 1%;
    }
    & h2 {
      text-align: start;
      padding-right: 65%;
      line-height: 80px;
    }
    & .advantages__list {
      padding-top: 58px;
    }
    & .advantages__item {
      max-width: 21%;
      &:nth-of-type(3) {
        padding-right: 5%;
      }
      &:nth-of-type(4) {
        padding-right: 3.5%;
      }
    }
    & .advantages__title {
      padding-top: 13px;
      padding-right: 0;
    }
  }
  &__income {
    background: url("./assets/images/bg/info-bg2.jpg") no-repeat top center;
    & .container {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 330px;
      padding-bottom: 70px;
    }
    & h2 {
      text-align: start;
      padding-right: 25%;
      line-height: 81px;
    }
    & .subtitle {
      text-align: start;
      padding-right: 52%;
      padding-top: 35px;
    }
    & .button {
      line-height: 80px;
      letter-spacing: 1.8px;
      padding: 2px 60px 0;
      margin-top: 32px;
    }
  }
  &__videoAdvantages {
    padding-top: 150px;
    padding-bottom: 185px;
    & .container {
      flex-direction: column;
      align-items: center;
    }
    & .advantages__list {
      padding-top: 40px;
    }
    & .advantages__item {
      max-width: 100%;
      text-align: center;
      & span {
        font-size: 30px;
        color: #282525;
        padding: 0 25%;
        letter-spacing: 0.55px;
        line-height: 37px;
      }
    }
  }
  &__begin {
    padding-top: 150px;
    padding-bottom: 150px;
    & .container {
      display: flex;
      flex-direction: column;
    }
    & h2 {
      padding-bottom: 111px;
    }
    & .card__list {
      display: flex;
    }
    & .card {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 440px;
      height: 178px;
      background-color: #ffffff;
      margin: 0 20px;
      padding-bottom: 57px;
      box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.02), 0px 10px 40px rgba(38, 38, 38, 0.05);
      position: relative;
      & p {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        color: #282525;
        text-align: center;
      }
      &::before {
        content: "";
        position: absolute;
        width: 94px;
        height: 96px;
        top: -49px;
        display: flex;
        align-items: center;
        background: url("./assets/images/cards-img/peson.svg") no-repeat center;
        background-size: contain;
      }
      &:nth-of-type(2) {
        &::before {
          width: 98px;
          height: 70px;
          top: -23px;
          background: url("./assets/images/cards-img/video.svg") no-repeat center;
        }
      }
      &:nth-of-type(3) {
        padding-bottom: 35px;
        &::before {
          width: 88px;
          height: 87px;
          top: -45px;
          background: url("./assets/images/cards-img/connection.svg") no-repeat center;
        }
        & p {
          padding: 0 10%;
        }
      }
    }
  }
}

.income {
  padding-top: 145px;
  padding-bottom: 150px;
  & .radioButton__list {
    display: flex;
  }
  & h2 {
    padding: 0 27%;
    line-height: 81px;
  }
  & h6 {
    color: #666666;
  }
  & .radioButton__list {
    justify-content: space-between;
    margin-bottom: 0;
  }
  & [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    width: 27px;
    height: 27px;
  }
  & [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    font-size: 18px;
    padding-left: 41px;
  }
  &__button {
    position: absolute;
    bottom: -39px;
    padding: 0 100px;
    background-color: #fff;
    left: 24%;
  }
  & .button {
    line-height: 80px;
    letter-spacing: 1.8px;
    padding: 2px 60px 0;
  }
  & .card {
    width: 1022px;
    margin: 0 auto;
    box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);
    padding: 40px 40px 75px;
    margin-top: 25px;
  }
  & .input__range {
    margin-top: 50px;
    &--ambit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      & span {
        font-size: 14px;
        color: #666666;
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
  }
  &__views {
    color: $accent-color;
    font-weight: 700;
    font-size: 30px;
  }
  &__column {
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    padding: 38px 42px 15px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    &:nth-of-type(2) {
      padding: 32px 42px 37px;
    }
    &:nth-of-type(3) {
      position: relative;
      margin-top: 51px;
      padding: 38px 42px 185px;
      & .income__title {
        flex-direction: column;
        position: absolute;
        top: -22px;
        background-color: #ffffff;
        margin-left: 20.7%;
        padding: 0 40px;
        & h5 {
          font-size: 22px;
          line-height: 42px;
        }
        & p {
          font-size: 16px;
          color: #666666;
        }
      }
    }
  }
  &__value {
    display: flex;
    justify-content: center;
    color: #1D1D1D;
    font-size: 70px;
    padding-top: 27px;
  }
  &__subtitle {
    font-size: 16px;
    color: #666666;
    position: absolute;
    padding: 28px 8%;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;
  }
}