.subscriptionPage {
  padding-top: 20px;
  padding-bottom: 37px;
  & .tabs {
    display: none;
  }
  & h3 {
    font-size: 30px;
    color: $dark-color;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 12px;
  }
  & h5 {
    font-size: 28px;
    color: $dark-color;
  }
  & .container {
    padding-left: 20px;
    padding-right: 12px;
  }
  &__content {
    margin-bottom: 10px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
  }
  & .showMore {
    color: $accent-color;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2px 8px 0 0;
  }
  & .video__list {
    justify-content: flex-start;
    width: 103%;
  }
  & .video__item {
    margin: 33px 15px 0px;
  }
  & .video__info {
    & h5 {
      font-size: 20px;
    }
  }
  & .playlist {
    & .video__img {
      &::before {
        display: none;
      }
    }
  }
  & .video__amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    color: $light-color;
    font-size: 14px;
    &::before {
      content: "";
      background: url("./assets/images/icons/player-icon.svg") no-repeat center;
      width: 16px;
      height: 12px;
      margin-bottom: 5px;
    }
  }
  & .video__views--desktop.video__views--mobile, .video__views--mobile.video__views--mobile {
    display: flex;
  }
}
.cover {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
  padding-left: 20px;
  padding-right: 12px;
  &--about {
    display: none;
  }
  &__column {
    display: flex;
  }
  &__card {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    padding-right: 8px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #EEEEEE;
    }
  }
  &__img {
    max-width: 1399px;
    width: 100%;
    height: 225px;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    margin-right: 93px;
    & img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 22px;
    }
  }
  &__subscribers {
    font-size: 24px;
    color: $text-color
  }
  & p {
    font-size: 13px;
    color: $dark-color;
    padding-right: 70px;
    line-height: 18px;
  }
  & .button--solid {
    flex-shrink: 0;
    line-height: 58px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 2px 45px 0;
  }
  &__title {
    position: relative;
  }
}

.cover__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 6px;
  position: absolute;
  right: -33px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    background: url("./assets/images/icons/arrow-white.svg") no-repeat center;
    background-size: contain;
    width: 8px;
    height: 7px;
    display: flex;
    position: absolute;
  }
  & svg {
    width: inherit;
    height: inherit;
  }
}

.playlist {
  padding-top: 20px;
  & .video__item {
    margin: 23px 15px 0px;
  }
  & .video__info {
    & h5 {
      line-height: 26px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .subscriptionPage {
    & .video__list {
      justify-content: center;
      width: 103%;
    }
    & .container {
      width: 768px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .cover {
    width: 100%;
    &__img {
      & picture {
        display: flex;
      }
    }
    & p {
      padding-right: 30px;
    }
    &__info {
      margin-right: 65px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .tabs__content {
    display: none;
    &.tabs__content--show {
      display: flex;
    }
  }
  .cover--about {
    padding: 20px;
  }
  .subscriptionPage {
    padding-top: 0;
    & .tabs {
      width: 768px;
      margin: 0 auto;
    }
    & .playlist {
      padding-top: 0;
      & h5 {
        line-height: 115%;
      }
    }
    & .tabs {
      display: flex;
      padding: 0 20px;
    }
    & h3 {
      font-size: 16px;
      padding-bottom: 5px;
    }
    &__title {
      display: none;
    }
    & .video__list {
      margin: 0 -12px;
    }
    & .video__item {
      margin: 40px 11px 0px;
    }
    & .video__link {
      width: 228px;
    }
    & .video__img {
      width: 228px;
      max-height: 140px;
    }
    & .video__info {
      & h5 {
        font-size: 14px;
      }
    }
    & .video__statistics {
      margin-top: 14px;
      & span:nth-of-type(1) {
        margin-right: 15px;
      }
    }
  }
  .cover {
    width: 768px;
    padding-left: 0;
    padding-right: 0;
    &__img {
      width: 100%;
      height: auto;
    }

    &__desc {
      display: none;
    }

    &__card {
      padding: 20px 20px 15px;

      &::before {
        display: none;
      }
    }

    &__subscribers {
      font-size: 13px;
    }

    &__info {
      & img {
        width: 40px;
        height: 40px;
        margin-right: 11px;
      }
    }

    & .button--solid {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 39px;
      padding: 2px 30px 0;
    }

    &__icon {
      width: 13px;
      height: 13px;
      right: -17px;
      &:before {
        content: "";
        background: url("./assets/images/icons/arrow-white-medium.svg") no-repeat center;
        background-size: contain;
        width: 4px;
        height: 3px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .subscriptionPage {
    & .container {
      width: 320px;
    }
    & h3 {
      padding-bottom: 0;
    }
    & .tabs {
      width: 320px;
      height: 35px;
      padding: 0;
      margin-top: 5px;
      &__item {
        font-size: 12px;
      }
      &::after {
        bottom: -6px;
      }
      &__item--active::after {
        bottom: -5px;
      }
    }
    & .video__info {
      & h5 {
        font-size: 18px;
      }
    }
    & .video__item {
      margin: 25px 11px 0px;
    }
  }
  .cover {
    width: 320px;
    &__info {
      margin-right: 35px;
    }
    &__card {
      padding: 15px;
    }
    &__img {
      width: 320px;
      height: 51px;
    }
    &__info {
      & img {
        width: 30px;
        height: 30px;
        margin-right: 11px;
      }
      & h3 {
        font-size: 12px;
      }
    }
    & .button--solid {
      font-size: 10px;
      line-height: 25px;
      padding: 2px 11px 0;
    }
    &__subscribers {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .subscriptionPage {
    & .video__link {
      flex-direction: column;
    }
    & .video__item {
      margin-right: 0;
    }
    & .video__img {
      width: 290px;
      max-height: 178px;
      margin-bottom: 15px;
    }
    & .video__info {
      width: 290px;
      padding-left: 0;
    }
    & .video__link {
      width: 100%;
    }
  }
}