.subscriptions {
  padding-top: 36px;
  & .results__action_button {
    display: none;
  }
  & .subscriptions__title,
  & .subscription {
    width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
  }
  & .subscriptions__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
  }
  & .subscription {
    margin-bottom: 33px;
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  & h3 {
    font-size: 28px;
    font-weight: 500;
  }
  & h5 {
    color: #282525;
    padding-bottom: 10px;
  }
  & .video__list {
    justify-content: flex-start;
  }
}

.subscription {
  position: relative;
  padding-bottom: 30px;
  &__info {
    display: flex;
    align-items: center;
    & img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 12px;
    }
  }
  &__subscribers {
    font-size: 16px;
    color: $text-color;
  }
  & .video {
    &__item {
      margin: 32px 14px 0;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20px;
    width: 100%;
    height: 1px;
    background: #EBEBEB;
  }
  & .video__views--desktop.video__views--mobile,
  .video__views--mobile.video__views--mobile {
    display: flex;
  }
  & .video__img {
    margin-bottom: 17px;
  }
  & .video__subscribe {
    padding-top: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .subscriptions .subscriptions__title, .subscriptions .subscription {
    width: 1000px;
  }
}

@media screen and (max-width: 1170px) {
  .subscriptions {
    padding-top: 20px;
    & .results__action_button {
      display: flex;
    }
    & .subscriptions__title,
    & .subscription {
      width: 768px;
    }
    & .subscriptions__title {
      margin-bottom: 48px;
    }
    & h3 {
      font-size: 24px;
    }
    & h5 {
      font-size: 15px;
      padding-bottom: 5px;
    }
    &__title {
      padding-right: 20px;
    }
  }
  .subscription {
    &::before {
      width: calc(100% - 40px);
      top: -22px;
    }
    &__info {
      & img {
        width: 52px;
        height: 52px;
      }
    }
    &__subscribers {
      font-size: 12px;
    }
    & .video__list {
      width: 101%;
      margin: 0 -11px;
    }
    & .video__item {
      margin: 21px 11px 0;
    }
    & .video__img {
      margin-bottom: 8px;
    }
    & .video__statistics {
      font-size: 12px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .subscriptions {
    padding-top: 17px;
    & .subscriptions__title,
    & .subscription {
      width: 320px;
      padding-left: 0;
    }
    .subscriptions__title {
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 36px;
    }
    & h3 {
      font-size: 20px;
    }
    & h5 {
      font-size: 18px;
      line-height: 21px;
      padding-right: 20px;
    }
  }
  .subscription {
    padding-left: 0;
    &__info {
      padding-left: 15px;
    }
    & .video__list {
      margin: 0;
    }
    & .video__item {
      margin: 26px 15px 0;
    }
    & .video__info {
      width: 100%;
      padding-left: 0;
    }
    & .video__img {
      width: 100%;
      max-height: 178px;
      margin-bottom: 15px;
    }
    & .video__subscribe {
      padding-top: 10px;
    }
    & .video__statistics {
      & span {
        font-size: 14px;
      }
    }
    & .video__views::before {
      width: 15px;
      height: 12px;
    }
    & .video__link {
      flex-direction: column;
      width: 100%;
    }
  }
}