.info {
  &__tagging {
    background: url("./assets/images/bg/bg-img.jpg") no-repeat top center;
    background-size: cover;
    padding-top: 355px;
    padding-bottom: 122px;
    & .container {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
      padding-right: 25%;
    }
    & .button {
      margin-top: 30px;
      letter-spacing: 1.75px;
      padding: 2px 60px 0;
      line-height: 82px;
    }
    &.info .subtitle {
      text-align: start;
    }
  }
}

@media screen and (max-width: 1440px) {
  .info {
    &__tagging {
      padding-top: 118px;
      & .container {
        padding-left: 2.6%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    &__tagging {
      background: url("./assets/images/bg/bg-img-medium.jpg") no-repeat top center;
      & .button {
        margin-top: 30px;
        letter-spacing: 1.5px;
        padding: 2px 44px 0;
        line-height: 66px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .info {
    &__tagging {
      & .button {
        font-size: 12px;
        line-height: 46px;
        margin-top: 18px;
        padding: 3px 22px 0;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .info {
    &__tagging {
      padding-top: 33px;
      padding-bottom: 38px;
      &.info .subtitle {
        text-align: center;
        padding: 20px 10% 0;
      }
      &.info .button {
        letter-spacing: 1.2px;
      }
      & .container {
        padding: 0 15%;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .info {
    &__tagging {
      background: url("./assets/images/bg/bg-img-small.jpg") no-repeat top center;
    }
  }
}