.info {
  &__target {
    padding-top: 150px;
    padding-bottom: 150px;
    & .container {
      flex-direction: column;
      align-items: center;
    }
    & .info__list {
      margin-top: 60px;
      justify-content: center;
    }
    &.info .subtitle {
      padding-top: 22px;
    }
    & .info__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      position: relative;
      padding-top: 133px;
      & h3 {
        margin-bottom: 15px;
      }
      &:nth-of-type(2) {
        margin-left: 14%;
        & span {
          padding: 0 25px;
        }
      }
      & span {
        color: $text-color;
        font-weight: 300;
        font-size: 24px;
        line-height: 130.3%;
        text-align: center;
      }
      & .button--outline {
        color: $accent-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 114.8%;
        text-transform: uppercase;
        margin-top: 17px;
      }
      &::before {
        position: absolute;
        top: 0;
      }
      &:nth-of-type(1) {
        &::before {
          top: 5px
        }
      }
    }
  }
  &__author {
    &::before {
      content: "";
      background-size: contain;
      width: 84px;
      height: 84px;
      background: url("./assets/images/icons/camera.svg") no-repeat center;
    }
  }
  &__advertiser {
    &::before {
      content: "";
      background-size: contain;
      width: 96px;
      height: 96px;
      background: url("./assets/images/icons/scale.svg") no-repeat center;
    }
  }
}

@media screen  {
  .info {
    &__target {
      & .info__advertiser {
        width: 22%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .info {
    &__target {
      & .info__item {
        width: 28%;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .info {
    &__target {
      & .info__item {
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .info {
    &__target {
      & .info__item {
        width: 37%;
        & span {
          font-size: 23px;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .info {
    &__target {
      & .info__item {
        width: 38%;
        &:nth-of-type(2) {
          margin-left: 10%;
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .info {
    &__target {
      & .info__item {
        width: 39%;
        & span {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 845px) {
  .info {
    &__target {
      & .info__item {
        width: 43%;
        &:nth-of-type(2) {
          margin-left: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    &__target {
      padding-top: 60px;
      padding-bottom: 58px;
      &.info .subtitle {
        font-size: 18px;
        text-align: center;
        padding: 28px 15% 0;
      }
      & .info__list {
        margin-top: 44px;
      }
      & .info__item {
        padding-top: 90px;
        width: 42%;
        &:nth-of-type(2) {
          width: 39%;
        }
        & span {
          font-size: 16px;
        }
        & .button--outline {
          font-size: 14px;
          line-height: 120%;
        }
      }
    }
    &__author {
      &::before {
        width: 60px;
        height: 60px;
        background-size: contain;
      }
    }
    &__advertiser {
      &::before {
        width: 70px;
        height: 70px;
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .info {
    &__target {
      & .info__item {
        width: 40%;
        &:nth-of-type(2) {
          margin-left: 7%;
        }
      }
    }
  }
}

@media screen and (max-width: 598px) {
  .info {
    &__target {
      & .info__item {
        width: 46%;
        &:nth-of-type(2) {
          margin-left: 3%;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .info {
    &__target {
      & .info__item {
        & span {
          font-size: 14px;
        }
        & h3 {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .info {
    &__target {
      & .info__item {
        &:nth-of-type(2) {
          & span {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .info {
    &__target {
      padding-top: 30px;
      padding-bottom: 0px;
      & .container {
        padding: 0 5%;
      }
      &.info .subtitle {
        font-size: 13px;
        line-height: 140%;
        padding: 15px 10% 0;
      }
      & .info__list {
        flex-direction: column;
        margin-top: 22px;
      }
      & .info__item {
        align-items: flex-start;
        width: 100%;
        padding-top: 3px;
        padding-right: 9%;
        padding-bottom: 23px;
        &:nth-of-type(2) {
          width: 100%;
        }
        & span,
        & h3,
        & .button {
          margin-left: 78px;
        }
        & span {
          text-align: left;
          font-size: 11px;
        }
        & h3 {
          margin-bottom: 8px;
          font-size: 16px;
        }
        & .button {
          font-size: 11px;
          margin-top: 5px;
          letter-spacing: 1px;
          align-self: flex-start;
        }
        &:nth-of-type(2) {
          margin-left: 0;
          & span {
            padding: 0;
          }
        }
      }
    }
    &__author {
      &::before {
        width: 52px;
        height: 52px;
        background-size: contain;
      }
    }
    &__advertiser {
      &::before {
        width: 54px;
        height: 54px;
        background-size: contain;
      }
    }
  }
}