.info__video {
  padding: 150px 0 100px;
  & .container {
    flex-direction: column;
    align-items: center;
  }
  &.info .subtitle {
    text-align: center;
  }
}

.video {
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__item {
    margin: 54px 15px 0px;
    & h5 {
      padding-right: 35px;
      transition: color 0.3s ease-out;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    width: 327px;
    &:hover {
      & h5 {
        color: $accent-color;
      }
    }
  }
  &__img {
    position: relative;
    margin-bottom: 15px;
    & img {
      border-radius: 5px;
      width: 100%;
      height: auto;
    }
    &::before {
      content: "24:53";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 20px;
      background: rgba(0, 0, 0, .5);
      color: $light-color;
      position: absolute;
      bottom: 20px;
      left: 18px;
      font-size: 12px;
      line-height: 12px;
      border-radius: 2px;
    }
  }
  &__statistics {
    display: flex;
    color: $text-gray;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-top: 20px;
    & span {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      &:nth-of-type(1) {
        margin-right: 20px;
      }
    }
  }
  &__views::before,
  &__likes::before {
    margin-right: 8px;
    flex-shrink: 0;
  }
  &__views--desktop,
  &__views--mobile {
    &::before {
      content: "";
      background: url("./assets/images/icons/eye.svg") no-repeat center;
      background-size: contain;
      width: 16px;
      height: 13px;
      display: flex;
    }
    &.video__views--mobile {
      display: none;
    }
  }
  &__likes {
    &::before {
      content: "";
      background: url("./assets/images/icons/like.svg") no-repeat center;
      background-size: contain;
      width: 13px;
      height: 12px;
    }
  }
  &__subscribe {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #9B9B9B;
    padding-top: 18px;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background: url("./assets/images/icons/arrow-white.svg") #C4C4C4 no-repeat center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  &__date {
    &::before {
      content: "";
      display: flex;
      width: 14px;
      height: 14px;
      margin-right: 11px;
      background: url("./assets/images/icons/calendar.svg") no-repeat center;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 1024px) {
  .video {
    &__subscribe {
      font-size: 12px;
      padding-top: 14px;
      &::after {
        width: 11px;
        height: 11px;
        background: url("./assets/images/icons/arrow-white-small.svg") #C4C4C4 no-repeat center;
      }
    }
    &__date {
      &::before {
        width: 11px;
        height: 11px;
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .video__statistics span:nth-of-type(1) {
    margin-right: 26px;
  }
  .video {
    &.video__views--mobile {
      display: block;
    }
    &__link {
      width: 228px;
    }
    &__item {
      margin: 28px 10px 0px;
      & h5 {
        font-size: 14px;
        padding-right: 10%;
      }
    }
    &__img {
      margin-bottom: 10px;
      &::before {
        display: none;
      }
    }

    &__statistics {
      font-size: 12px;
      margin-top: 12px;
      & span {
        font-size: inherit;
        margin-right: 15px;
      }
    }
    &__views::before {
      margin-right: 7px;
    }
    &__likes::before {
      margin-right: 6px;
    }
  }
  .info {
    &__video {
      padding: 50px 0 0;
      &.info .subtitle {
        padding: 25px 20% 7px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .video {
    &__subscribe {
      font-size: 15px;
      padding-top: 13px;
      &::after {
        width: 14px;
        height: 14px;
        background: url("./assets/images/icons/arrow-white-medium.svg") #C4C4C4 no-repeat center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .info__video .video__views--desktop {
    display: none;
  }
  .video__views.video__views--mobile {
    display: flex;
  }
  .info {
    &__video {
      padding: 27px 0 0;
      &.info .subtitle {
        padding: 18px 14% 35px;
        font-size: 14px;
      }
    }
  }
  .video {
    &__list {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &__info {
      width: calc(100% - 140px);
      padding-left: 10px;
    }
    &__item {
      margin: 0 15px 18px 15px;
      & h5 {
        align-self: flex-end;
        padding-right: 0;
        font-size: 13px;
      }
    }
    &__date {
      &::before {
        width: 14px;
        height: 14px;
      }
    }
    &__link {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    &__img {
      max-width: initial;
      width: 140px;
      max-height: 86px;
      flex-shrink: 0;
      display: flex;
      margin-bottom: 0;
    }
    &__statistics {
      align-self: flex-end;
      justify-content: flex-start;
      margin-top: 16px;
      & span {
        font-size: 11px;
        margin-right: 10px;
      }
    }
    &__views {
      margin-right: 15px;
      letter-spacing: 0.3px;
      &::before {
        width: 12px;
        height: 10px;
        margin-right: 5px;
      }
    }
    &__likes {
      &::before {
        width: 11px;
        height: 10px;
        margin-right: 4px;
      }
    }
  }
}