.info {
  &__watch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 549px;
    background: url("./assets/images/bg/watch-bg.jpg") no-repeat top center;
    & .container {
      flex-direction: column;
      align-items: center;
    }
    & .button {
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 1.75px;
      line-height: 82px;
      padding: 2px 60px 0;
    }
    &.info .subtitle {
      text-align: center;
      padding: 35px 32% 0;
    }
    position: relative;
    & .video__wrapper {
      width: 100%;
      height: 550px;
      display: flex;
    }
    & .video--watch {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    & .container {
      position: absolute;
    }
  }
}

@media screen and (max-width: 1440px) {
  .info__watch.info .subtitle {
    text-align: center;
    padding: 35px 22% 0;
  }
}

@media screen and (max-width: 920px) {
  .info__watch.info .subtitle {
    font-size: 25px;
  }
}


@media screen and (max-width: 768px) {
  .info {
    &__watch {
      padding-top: 0;
      padding-bottom: 0;
      height: 395px;
      &.info .subtitle {
        padding: 25px 25% 0;
        font-weight: 300;
        font-size: 18px;
      }
      & .button {
        margin-top: 26px;
        letter-spacing: 1.5px;
        line-height: 64px;
      }
      & .video__wrapper {
        height: 395px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .info {
    &__watch {
      &.info .subtitle {
        padding: 25px 20% 0;
        font-weight: 300;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .info {
    &__watch {
      &.info .subtitle {
        padding: 25px 10% 0;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .info {
    &__watch {
      & .video__wrapper {
        height: 240px;
      }
    }
  }
}

@media screen and (max-width: 428px) {
  .info {
    &__watch {
      padding-top: 0;
      padding-bottom: 0;
      & h2 {
        padding: 0 15%;
      }
      &.info .subtitle {
        font-size: 14px;
        padding: 15px 14% 0;
      }
      & .button {
        margin-top: 24px;
        line-height: 43px;
        padding: 3px 40px 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .info {
    &__watch {
      height: 240px;
      background: url("./assets/images/bg/watch-bg-small.jpg") no-repeat top center;
    }
  }
}