$bg-color: #E5E5E5;
$light-color: #ffffff;
$footer-bg: #282525;
$text-color: #666666;
$text-gray: #949494;
$button-bg: #F02730;
$accent-color: #F02730;
$hover-color: #D11922;
$active-color: #D82029;
$button-solid-color: $light-color;
$button-outline-color: #282525;
$worning-bg: #1E1C1C;
$head-dark: #282525;
$dark-color: #000000;

@mixin headerText {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  font-family: inherit;
}

@mixin menuLine {
  width: 15px;
  height: 2px;
  border-radius: 20px;
  background-color: $light-color;
}

a {
  text-decoration: none;
}

span {
  font-size: inherit;
}

input {
  border: none;
  outline: none;
  @include headerText;
  &::placeholder {@include headerText}
  &::-webkit-input-placeholder {@include headerText}
  &::-moz-placeholder          {@include headerText}
  &:-moz-placeholder           {@include headerText}
  &:-ms-input-placeholder      {@include headerText}
}

select {
  border: none;
  background: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.select--custom {
  @include headerText;
}

.button {
  font-family: HelveticaNeueCyr, sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 22px 0;
  transition: background 0.2s ease-out, color 0.3s ease-out;
  &--outline {
    color: $button-outline-color;
  }
  &--solid {
    background-color: $button-bg;
    color: $button-solid-color;
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: $hover-color;
    }
    &:active {
      background-color: $active-color;
    }
  }
  &--underline {
    position: relative;
    padding: 0;
    letter-spacing: 1.75px;
    min-height: 25px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(240,39,48, .5);
      opacity: 1;
      transition: opacity 0.3s ease-out, color 0.1s ease-out;
    }
    &:hover {
      &::after {
        opacity: 0;
      }
    }
    &:active {
      color: $active-color;
    }
  }
  &__toAppStore,
  &__toGooglePlay {
    width: 247px;
    min-height: 70px;
    border-radius: 7px;
  }
  &__toAppStore {
    background: url("./assets/images/downloads-img/toAppStore.svg") no-repeat center $button-bg;
  }
  &__toGooglePlay {
    background: url("./assets/images/downloads-img/toGooglePlay.svg") no-repeat center $button-bg;
  }
  &:hover {
    cursor: pointer;
  }
  & span {
    font-size: inherit;
    line-height: inherit;
    display: flex;
    align-items: center;
  }
}

li {
  &:hover {
    cursor: pointer;
  }
}

.input__form {
  background: #F5F5F5;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 5px;
  &::placeholder {font-weight: normal;font-size: 16px;line-height: 100%;color: #AEAEAE;}
  &::-webkit-input-placeholder {font-weight: normal;font-size: 16px;color: #AEAEAE;}
  &::-moz-placeholder          {font-weight: normal;font-size: 16px;color: #AEAEAE;}
  &:-moz-placeholder           {font-weight: normal;font-size: 16px;color: #AEAEAE;}
  &:-ms-input-placeholder      {font-weight: normal;font-size: 16px;color: #AEAEAE;}
  &:focus {
    background: #F5F5F5;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.input--error {
  background: #F5F5F5;
  border: 1px solid #F02730;
  box-sizing: border-box;
  border-radius: 5px;
  color: #F02730;
}

.title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  display: inline-flex;
  &--mobile {
    display: none;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 40px;
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-size: 14px;
    font-weight: 500;
    color: $dark-color;
    text-transform: uppercase;
    &--active {
      color: $accent-color;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -10px;
        background-color: $accent-color;
      }
    }
  }
  &::after {
    content: "";
    width: calc(100% - 40px);
    height: 1px;
    border-radius: 5px;
    background-color: #ECECEC;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }
}

.card {
  border-radius: 7px;
  background-color: #ffffff;
}

@media screen and (max-width: 1366px) {
  .button {
    &__toAppStore,
    &__toGooglePlay {
      width: 215px;
      min-height: 60px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  input {
    font-size: 14px;
    &::placeholder {font-size: 14px;}
    &::-webkit-input-placeholder {font-size: 14px;}
    &::-moz-placeholder          {font-size: 14px;}
    &:-moz-placeholder           {font-size: 14px;}
    &:-ms-input-placeholder      {font-size: 14px;}
  }
}

@media screen and (max-width: 1080px) {
  .button {
    font-size: 15px;
    &--underline {
      &::after {
        bottom: 3px;
      }
    }
    &__toAppStore,
    &__toGooglePlay {
      width: 180px;
      min-height: 56px;
    }
    &__toAppStore {
      background: url("./assets/images/downloads-img/toAppStore-medium.svg") no-repeat center $button-bg;
    }
    &__toGooglePlay {
      background: url("./assets/images/downloads-img/toGooglePlay-medium.svg") no-repeat center $button-bg;;
    }
  }
}

@media screen and (max-width: 880px) {
  .button__toAppStore, .button__toGooglePlay {
    width: 143px;
    min-height: 50px;
  }

}

@media screen and (max-width: 768px) {
  .button {
    &__toAppStore,
    &__toGooglePlay {
      width: 182px;
      min-height: 56px;
    }
  }
  .input__form {
    &::placeholder {font-size: 14px}
    &::-webkit-input-placeholder {font-size: 14px}
    &::-moz-placeholder          {font-size: 14px}
    &:-moz-placeholder           {font-size: 14px}
    &:-ms-input-placeholder      {font-size: 14px}
  }
}

@media screen and (max-width: 640px) {
  .button {
    font-size: 14px;
  }
  input {
    &::placeholder {color: $light-color;}
    &::-webkit-input-placeholder {color: $light-color;}
    &::-moz-placeholder          {color: $light-color;}
    &:-moz-placeholder           {color: $light-color;}
    &:-ms-input-placeholder      {color: $light-color;}
  }
}

@media screen and (max-width: 767px) {
  .button {
    &__toAppStore,
    &__toGooglePlay {
      width: 123px;
      min-height: 43px;
    }
    &__toAppStore {
      background: url("./assets/images/downloads-img/toAppStore-small.svg") no-repeat center $button-bg;;
    }
    &__toGooglePlay {
      background: url("./assets/images/downloads-img/toGooglePlay-small.svg") no-repeat center $button-bg;;
    }
  }
  .title {
    display: none;
    &--mobile {
      display: inline-flex;
      font-size: 15px;
      font-weight: 500;
      color: #000000;
    }
  }
}
