@font-face {
  font-family: HelveticaNeueCyr;
  src: url("./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url("./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url("./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url("./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
