h1 {
  font-size: 72px;
  color: $head-dark;
  font-weight: 300;
  line-height: 83px;
}

h2 {
  font-size: 72px;
  color: $head-dark;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 36px;
  color: $head-dark;
  line-height: 114.8%;
}

h4 {
  font-size: 30px;
  color: #282525;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: $head-dark;
  line-height: 114.8%;
}

h6 {
  font-size: 18px;
}

.complain {
  & h3 {
    font-size: 28px;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 114.8%;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
    text-align: center;
  }
  h2 {
    font-size: 28px;
    line-height: 114.8%;
  }
  h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
  }
  h5 {
    font-size: 13px;
    line-height: 140%;
  }
}