@import "~reset-css";
@import "_fonts";
@import "_custom";
@import "~video.js";
@import "~@videojs/themes/sea/index.css";
@import "_headers";
@import "./header/_header";
@import "./header/_logo";
@import "./header/_menu";
@import "./header/_form";
@import "./header/_searchResult";
@import "./header/_popup";
@import "header/formElements/_customCheckbox";
@import "header/formElements/_customRadio";
@import "header/formElements/_customSelect";
@import "header/formElements/_customRange";
@import "./main/_download";
@import "./main/_tagging";
@import "./main/_target";
@import "./main/_watch";
@import "./main/_video";
@import "./main/_info";
@import "./main/_advantages";
@import "./main/_bloggers";
@import "./main/_filter";
@import "./main/_complain";
@import "./main/_subscribes";
@import "./main/_videoNotAvailable";
@import "./main/_subscriptionPage";
@import "./main/_videoDetailed";
@import "./main/_copyright";
@import "./main/_infoPage";
@import "./footer/_footer";
@import "./footer/_warning";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: HelveticaNeueCyr, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(40, 37, 37, .5);
  &--show {
    display: block;
  }
}

aside {
  width: 350px;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .overlay {
    width: 100%;
    height: 100vw;
  }
}

header, footer {
  flex-shrink: 0;
  flex-grow: 0;
}

main {
  flex-grow: 1;
  position: relative;
}

header, main, footer {
  width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.content--bg {
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait) {

}

@media screen and (max-width: 1200px) and (orientation: landscape) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 768px) and (orientation: landscape){
}

@media screen and (max-width: 380px) {

}
