section.copyright
    div.container
        div.copyright__column
            h1 Авторское право на Febspot
            p.subtitle Ознакомившись с материалами об авторском праве, вы узнаете, как защищать свои права и учитывать права других пользователей.
        div.copyright__column
            h5 О статусе
            p.subtitle Изучите информацию о статусе, нарушениях и возможностях вашего аккаунта на Febspot
            button.button.button--solid узнать статус аккаунта
section.defects
    div.container
        div.defects__row
            h5 Устранение неполадок
            p.subtitle Эта информация поможет вам урегулировать вопросы о нарушении авторскитх прав, предупреждениях и жалобах
            div.glide.appeals
                div.glide__track(data-glide-el='track')
                    div.card__list.glide__slides
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects3.svg
                                h6 Как отправить уведомление о нарушении авторских прав
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects2.svg
                                h6 Как подать встречное уведомление
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects1.svg
                                h6 Что нужно знать о предупреждениях
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects4.svg
                                h6 Как отозвать жалобу на нарушение авторских прав
        div.defects__row
            h5 Авторское право
            p.subtitle О понятии “авторское право” и его защите
            div.glide.appeals
                div.glide__track(data-glide-el='track')
                    div.card__list.glide__slides
                        article.card__item
                            div.card__img.glide__slide
                                include ../cardIcons/defects5.svg
                                h6 Что такое авторское право
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects6.svg
                                h6 О добросовестном использовании
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects7.svg
                                h6 Лизензия Creative Commons
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects8.svg
                                h6 Инструменты защиты авторских прав
        div.defects__row
            h5 О системе Content ID
            p.subtitle Что такое Content ID, ее предназначение и функции
            div.glide.appeals
                div.glide__track(data-glide-el='track')
                    div.card__list.glide__slides
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects9.svg
                                h6 Заявки Content ID
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects10.svg
                                h6 Как работает система Content ID
                        article.card__item.glide__slide
                            div.card__img
                                include ../cardIcons/defects11.svg
                                h6 Как оспорить претензию Content ID

