div.complain.content--bg
    div.container
        aside.complain__buttons
            div.glide.tab__buttons
                div.glide__track(data-glide-el='track')
                    ul.glide__slides
                        button.glide__slide.button.complain__button(data-name="complain-content") недопустимый контент
                        button.glide__slide.button.complain__button.button--solid(data-name="complain-copyright") нарушение авторских прав
                        button.glide__slide.button.complain__button(data-name="complain-technical") технические проблемы
        section.complain__copyright
            h3 Пожаловаться на нарушении авторских и/или смежных прав
            form(action='#' name="complain-content").form.form__steps
                div.form__column
                    h5 Информация для удаления незаконно размещенного контента
                    div.info__list
                        article.info__card Данные о произведении, на которое вы либо уполномочившее вас лицо обладаете авторскими и смежными правами: полное название, год создания/выхода, автор/режиссер и др.
                        article.info__card Полный URL страницы Rutube, на которой размещено видео. Если видеороликов несколько, укажите ссылки на все страницы. Обратите внимание, заявки, содержащие ссылки НЕ на страницы роликов не будут обработаны.
                        article.info__card Описание, каким образом ваши права были нарушены (например, скопирована звуковая дорожка, видео является копией вашей работы и т.д.).
                        article.info__card Заявление о том, что: 1). Вы заверяете и подтверждаете факт нарушения авторских и смежных прав, 2). Вы являетесь владельцем авторских и смежных прав или являетесь законным доверенным представителем лица, права которого были нарушены в связи с неправомерным размещением данного произведения, и имеете право осуществлять деятельность по защите этого права.
                        article.info__card Копии правоустанавливающих документов, в том числе доверенности, выданной вам правообладателем, если вы таковым не являетесь (прокатное удостоверение, лицензионный договор, удостоверение национального фильма и др.)
                        article.info__card Контактная информация (имя, адрес электронной почты, телефон, должность, организаци
                div.form__column
                    h5 Ваши данные
                    span.form__subtitle Сложно сказать, почему глубокий уровень погружения определил дальнейшее развитие
                    input.input__form(name="your-name" placeholder='Ваше имя')
                    input.input__form(name="phone" placeholder='Ваш телефон')
                    input.input__form(name="email" placeholder='Ваш эл. адрес')
                    input.input__form(name="text" placeholder='Ссылка на видео')
                    textarea.input__form(placeholder='Ссылка на видео')
                    label(for='fileDownload').input__file
                        input(type='file' id="fileDownload")
                        span Приложите документы, удостверяющие личность
                    button(type="submit").button.button--solid Отправить жалобу