div.complain.content--bg
    div.container
        aside.complain__buttons
            div.glide.tab__buttons
                div.glide__track(data-glide-el='track')
                    ul.glide__slides
                        button.glide__slide.button.complain__button(data-name="complain-content") недопустимый контент
                        button.glide__slide.button.complain__button(data-name="complain-copyright") нарушение авторских прав
                        button.glide__slide.button.complain__button.button--solid(data-name="complain-technical") технические проблемы
        section.complain__technical
            h3 Пожаловаться на технические проблемы
            form(action='#' name="complain-content").form.form__steps
                div.form__column
                    h5 Как можно описать возникшую проблему
                    span.form__subtitle Выберите тип проблемы
                    div.form__step.radioButton__list
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio11" name="problems" checked)
                            label(for="radio11") Воспроизведение ролика не началось, показалась заглушка
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio22" name="problems")
                            label(for="radio22") Воспроизведение ролика не началось, видео встало на бесконечную загрузку
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio33" name="problems")
                            label(for="radio33") Видео воспроизводится рывками, постоянно встает на загрузку
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio44" name="problems")
                            label(for="radio44") Видео перестало воспроизводиться, показалась заглушка
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio55" name="problems")
                            label(for="radio55") Воспроизведение ролика остановилось, видео встало на бесконечную загрузку
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio66" name="problems")
                            label(for="radio66") Выдается сообщение о блокировщике рекламы, но он не установлен на моем устройстве
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio77" name="problems")
                            label(for="radio77") Другое
                    select.select--custom.listDropdown#problemOptions
                        option Воспроизведение ролика не началось, показалась заглушка
                        option Воспроизведение ролика не началось, видео встало на бесконечную загрузку
                        option Видео воспроизводится рывками, постоянно встает на загрузку
                        option Видео перестало воспроизводиться, показалась заглушка
                        option Воспроизведение ролика остановилось, видео встало на бесконечную загрузку
                        option Выдается сообщение о блокировщике рекламы, но он не установлен на моем устройстве
                        option Другое
                    textarea.input__form(placeholder='Описание проблемы')
                div.form__column
                    h5 Укажите утверждения, подходящие к описываемой проблеме
                    span.form__subtitle Выберите утверждение
                    div.checkbox__list.form__step#problemDesc
                        label.checkbox.checkbox--custom(for='pr1')
                            input(type="checkbox" id="pr1" name="pr-desc")
                            div.checkbox__input
                            span.checkbox__label Проблема воспроизвелась однократно и больше не повторяется
                        label.checkbox.checkbox--custom(for='pr12')
                            input(type="checkbox" id="pr12" name="pr-desc")
                            div.checkbox__input
                            span.checkbox__label Проблема воспроизводится в другом браузере
                        label.checkbox.checkbox--custom(for='pr3')
                            input(type="checkbox" id="pr3" name="pr-desc")
                            div.checkbox__input
                            span.checkbox__label Вы используете программное обеспечение для блокировки нежелательной рекламы
                        label.checkbox.checkbox--custom(for='pr4')
                            input(type="checkbox" id="pr4" name="pr-desc")
                            div.checkbox__input
                            span.checkbox__label Вы используете антивирус
                        label.checkbox.checkbox--custom(for='pr5')
                            input(type="checkbox" id="pr5" name="pr-desc")
                            div.checkbox__input
                            span.checkbox__label Вы подключены к сети через прокси-сервер
                div.form__column
                    h5 Ваши данные
                    span.form__subtitle Сложно сказать, почему глубокий уровень погружения определил дальнейшее развитие
                    input.input__form(name="your-name" placeholder='Ваше имя')
                    input.input__form(name="phone" placeholder='Ваш телефон')
                    input.input__form(name="email" placeholder='Ваш эл. адрес')
                    input.input__form(name="text" placeholder='Ссылка на видео')
                    label(for='fileDownload').input__file
                        input(type='file' id="fileDownload")
                        span Приложите документы, удостверяющие личность
                    button(type="submit").button.button--solid Отправить жалобу