div.complain.content--bg
    div.container
        aside.complain__buttons
            div.glide.tab__buttons
                div.glide__track(data-glide-el='track')
                    ul.glide__slides
                        button.glide__slide.button.complain__button.button--solid(data-name="complain-content") недопустимый контент
                        button.glide__slide.button.complain__button(data-name="complain-copyright") нарушение авторских прав
                        button.glide__slide.button.complain__button(data-name="complain-technical") технические проблемы
        section.complain__content
            h3 Пожаловаться на недопустимый контент
            form(action='#' name="complain-content").form.form__steps
                div.form__column
                    h5 На что вы хотите пожаловаться
                    span.form__subtitle Сложно сказать, почему глубокий уровень погружения определил дальнейшее развитие
                    div.form__step.radioButton__list
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio1" name="cause" checked)
                            label(for="radio1") Материалы сексуального характера
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio2" name="cause")
                            label(for="radio2") Жестокие или отталкивающие сцены
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio3" name="cause")
                            label(for="radio3") Оскорбления или проявления нетерпимости
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio4" name="cause")
                            label(for="radio4") Вредные или опасные действия
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio5" name="cause")
                            label(for="radio5") Жестокое обращение с детьми
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio6" name="cause")
                            label(for="radio6") Пропаганда терроризма
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio7" name="cause")
                            label(for="radio7") Спам или введение в заблуждение
                        div.radioButton__item
                            input(type="radio" class="radio" id="radio8" name="cause")
                            label(for="radio8") Пропаганда терроризма
                    select.select--custom.listDropdown#complainOptions
                        option Материалы сексуального характера
                        option Жестокие или отталкивающие сцены
                        option Оскорбления или проявления нетерпимости
                        option Вредные или опасные действия
                        option Жестокое обращение с детьми
                        option Пропаганда терроризма
                        option Спам или введение в заблуждение
                        option Пропаганда терроризма
                div.form__column
                    h5 Ваши данные
                    span.form__subtitle Сложно сказать, почему глубокий уровень погружения определил дальнейшее развитие
                    input.input__form(name="your-name" placeholder='Ваше имя')
                    input.input__form(name="phone" placeholder='Ваш телефон')
                    input.input__form(name="email" placeholder='Ваш эл. адрес')
                    input.input__form(name="text" placeholder='Ссылка на видео')
                    label(for='fileDownload').input__file
                        input(type='file' id="fileDownload")
                        span Приложите документы, удостверяющие личность
                    button(type="submit").button.button--solid Отправить жалобу

