[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  line-height: 27px;
  display: inline-block;
  font-size: 16px;
  color: #282525;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 8px solid #D3D3D3;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:checked:hover + label:before,
[type="radio"]:not(:checked):hover + label:before {
  border: 8px solid #D0D0D0;
}

[type="radio"]:checked:active + label:before,
[type="radio"]:not(:checked):active + label:before {
  border: 8px solid #AAAAAA;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  background-color: $light-color;
}
[type="radio"]:checked + label:before {
  content: '';
  border: 8px solid #F02730;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:checked:hover + label:before {
  border: 8px solid #E61F28;
}

[type="radio"]:checked:active + label:before {
  border: 8px solid #F02730;
}

.radioButton {
  &__list {
    margin-top: 30px;
    margin-bottom: 33px;
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 21px;
    }
  }
}