.rangeSlider__horizontal {
  height: 4px;
  width: 100%;
  background-color: #D3D3D3;
}

.rangeSlider__fill {
  background: $accent-color;
}

.rangeSlider, .rangeSlider__fill {
  box-shadow: none;
}

.rangeSlider__handle {
  border: none;
  width: 27px;
  height: 27px;
  background: $accent-color;
  box-shadow: none;
  &::after {
    width: 11px;
    height: 11px;
    background-image: none;
    background: $light-color;
  }
  &:hover {
    background-color: #E61F28;
  }
  &:active {
    background-color: #F02730;
  }
}