.choices {
  &__inner,
  &__item {
    color: #282525;
    font-size: 13px;
  }
  &__list--single {
    padding: 5px 16px 4px 4px;
  }
}

.complain {
  & .choices {
    display: none;
  }
}



@media screen and (max-width: 767px) {
  .complain {
    & .choices {
      display: flex;
    }
  }
}
