.checkbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    display: none;
  }
  &__input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    margin: 0 10px 0 20px;
    transition: background-color 0.1s linear;
    &::before {
      content: "";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 20px;
      height: 20px;
      background-color: #DCDCDC;
      transition: background-color 0.1s linear;
    }
    &:hover {
      &::before {
        cursor: pointer;
        background-color: #D0D0D0;
      }
    }
    &:active {
      &::before {
        cursor: pointer;
        background-color: #AAAAAA;
      }
    }
  }
  input[type="checkbox"] {
    &:checked ~ .checkbox__input {
      &::before {
        transition: background-color 0.1s linear;
        background: url("./assets/images/icons/check.svg") $accent-color no-repeat center;
        width: 20px;
        height: 20px;
      }
      &:hover {
        &::before {
          background-color: #E61F28;
        }
      }
      &:active {
        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
  &__label {
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    &:hover {
      cursor: pointer;
    }
  }
}
