div.video--notAvailable.content--bg
    div.container
       div.video--notAvailable_img
       div.video--notAvailable_title
           h3 Видео недоступно
           span Видео удалено либо еще не создано
div.container.container--notAvailable
    h4 Похожие видео
    ul.video--related.video__list
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video2.jpg" alt="video 2")
                div.video__info
                    h5 Британские ученые заявили, что обучение кадров
                    span.video__subscribe Добрая половина
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video3.jpg" alt="video 3")
                div.video__info
                    h5 Как бы то ни было, консультация с широким
                    span.video__subscribe Дурное дело
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video4.jpg" alt="video 4")
                div.video__info
                    h5 Только реализация намеченных плановых
                    span.video__subscribe Нашу победу
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video9.jpg" alt="video 9")
                div.video__info
                    h5 Частокол на границе оправдал надежды граждан
                    span.video__subscribe Все чаще
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video10.jpg" alt="video 10")
                div.video__info
                    h5 Новая парадигма реальности: кровь стынет
                    span.video__subscribe Крепость духовных скреп
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video11.jpg" alt="video 11")
                div.video__info
                    h5 Сейчас всё чаще звучит грохот грома градущих
                    span.video__subscribe LABELCOM
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video12.jpg" alt="video 12")
                div.video__info
                    h5 Нет звука приятнее, чем треск разлетающихся скреп
                    span.video__subscribe Дурное дело
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад
        li.video__item
            a.video__link(href="#")
                div.video__img
                    img(src="./assets/images/video-img/video13.jpg" alt="video 13")
                div.video__info
                    h5 Только реализация намеченных плановых
                    span.video__subscribe Нашу победу
                    div.video__statistics
                        span.video__views.video__views--mobile 530 тис.
                        span.video__date 1 месяц назад