div.subscriptionPage.content--bg
    section.subscriptionPage__cover.cover
        div.cover__column.cover__img
            picture
                source(media="(max-width: 767px)" srcset="./assets/images/cover-img/cover1-small.jpg")
                source(media="(max-width: 1024px)" srcset="./assets/images/cover-img/cover1-medium.jpg")
                img(src='./assets/images/cover-img/cover1.jpg' alt='cover1')
        div.cover__column.cover__card
            div.cover__row.cover__info
                img(src="./assets/images/subscribes-img/subscribe5.jpg" alt="img1")
                div.cover__title
                    h3 Николай Соболев
                    span.cover__subscribers 35 млн. подписчиков
                    div.cover__icon
                        include ../../assets/images/icons/subscribe-icon.svg
            div.cover__row.cover__desc
                p Предварительные выводы неутешительны: высококачественный прототип будущего проекта требует определения и уточнения новых предложений. Учитывая ключевые сценарии поведения, начало повседневной работы по формированию позиции является качественно новой ступенью благоприятных перспектив. Безусловно, консультация с широким активом создаёт необходимость включения
            div.cover__row
                button.button.button--solid Подписаться
    div.tabs
        span(data-name='video--show').tabs__item.tabs__item--active Видео
        span(data-name='playlist--show').tabs__item Плейлисты
        span.tabs__item(data-name='info--show') О канале
    div.container
        section.subscriptionPage__content.tabs__content.tabs__content--show#tabsVideo
            div.subscriptionPage__title
                h5 Видео
                button.button.showMore посмотреть все
            ul.subscriptionPage__video.video__list
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video18.jpg" alt="video 18")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video20.jpg" alt="video 20")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video21.jpg" alt="video 21")
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                            span.video__subscribe Сплочённость команды
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video25.jpg" alt="video 25")
                        div.video__info
                            h5 Британские ученые заявили, что обучение кадров
                            span.video__subscribe Добрая половина
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video26.jpg" alt="video 26")
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video27.jpg" alt="video 27")
                        div.video__info
                            h5 Высококачественный прототип будущего проекта
                            span.video__subscribe Только реализация
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video28.jpg" alt="video 28")
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video29.jpg" alt="video 29")
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
                            span.video__subscribe Крепость духовных скреп
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
        section.subscriptionPage__content.tabs__content#tabsPlaylist
            div.subscriptionPage__title
                h5 Плейлисты
                button.button.showMore посмотреть все
            ul.playlist.video__list
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video18.jpg" alt="video 18")
                            div.video__amount 17
                        div.video__info
                            h5 Только реализация намеченных плановых
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video20.jpg" alt="video 20")
                            div.video__amount 23
                        div.video__info
                            h5 Только реализация намеченных плановых
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video21.jpg" alt="video 21")
                            div.video__amount 17
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video25.jpg" alt="video 25")
                            div.video__amount 10
                        div.video__info
                            h5 Британские ученые заявили, что обучение кадров
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video26.jpg" alt="video 26")
                            div.video__amount 17
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video27.jpg" alt="video 27")
                            div.video__amount 23
                        div.video__info
                            h5 Высококачественный прототип будущего проекта
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video28.jpg" alt="video 28")
                            div.video__amount 17
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video29.jpg" alt="video 29")
                            div.video__amount 17
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
        section.cover--about.tabs__content#tabsInfo Предварительные выводы неутешительны: высококачественный прототип будущего проекта требует определения и уточнения новых предложений. Учитывая ключевые сценарии поведения, начало повседневной работы по формированию позиции является качественно новой ступенью благоприятных перспектив. Безусловно, консультация с широким активом создаёт необходимость включения