footer {
  background-color: $footer-bg;
  transition: padding .5s cubic-bezier(.25, 1, .5, 1);
  margin-bottom: 0;

  &.warning_open {
    padding-bottom: 103px;
  }

  .footer {
    &__download {
      display: none;
    }
    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 42px 0 20px;
    }

    &__column {
      padding-top: 85px;
      padding-bottom: 67px;
      width: 206px;
      max-width: 20%;
      &:nth-of-type(2) {
        padding-left: 38px;
      }
      &:nth-of-type(3) {
        padding-left: 13px;
      }
      &:nth-of-type(5) {
        padding-left: 22px;
      }
      &--logo {
        padding-top: 81px;
        width: 125px;
      }
    }

    &__links_title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 32px;
    }

    &__link_wrapper {
      margin-bottom: 26px;
      max-width: 210px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      color: #666666;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.1s linear;
      line-height: 114.8%;
      &:hover {
        color: $accent-color;
      }
      & span {
        font-size: inherit;
      }
    }

    &__copyright {
      margin-top: 68px;
    }

    &__copyright_text {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 17px;
    }

    &__copyright_link {
      color: #f02730;
      font-size: 16px;
      font-weight: 500;
      &.button--underline {
        letter-spacing: 0;
        &::after {
          background-color: rgba(240, 39, 48, .5);
          bottom: -4px;
          transition: background-color 0.1s ease-out;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  footer {
    & .footer {
      &__info {
        padding: 0 20px 0 20px;
      }
      &__column {
        width: initial;
        max-width: initial;
        &:nth-of-type(2) {
          padding-left: initial;
        }
        &:nth-of-type(3) {
          padding-left: initial;
        }
        &:nth-of-type(5) {
          padding-left: initial;
        }
        &--logo {
          width: initial;
        }
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  footer {
    & .footer__column {
      padding-top: 65px;
      padding-bottom: 35px;
    }
  }
}

@media screen and (max-width: 960px) {
  footer {
    & .footer__link {
      font-size: 14px;
    }
    & .footer__links_title {
      font-size: 18px;
      margin-bottom: 25px;
    }
    & .footer__copyright_link {
      font-size: 14px;
    }
  }
  footer .footer__column--logo {
    padding-top: 57px;
  }
}

@media screen and (max-width: 920px) {
  footer .footer__column--logo {
    padding-top: 63px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    & .footer__column--logo {
      display: none;
    }
    & .footer__column {
      padding-top: 40px;
      padding-bottom: 30px;
      padding-right: 2%;
    }
    & .footer__link_wrapper {
      max-width: 170px;
    }
    & .footer__copyright {
      margin-top: 28px;
    }
  }
  footer .footer__copyright_link.button--underline::after {
    bottom: -2px;
  }
}

@media screen and (max-width: 767px) {
  footer .footer__copyright_link.button--underline::after {
    bottom: 5px;
  }
  footer .footer__copyright_link.button--underline {
    min-height: 20px;
  }
  footer {
    & .container {
      position: relative;
    }
    & .footer__download {
      display: flex;
      position: absolute;
      left: 50%;
      top: 60px;
      margin-left: -133px;
    }
    & .footer__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & .footer__link_wrapper {
      margin-bottom: 0;
      padding: 0 25px;
    }
    & h5 {
      text-align: center;
    }
    & .footer__links {
      display: flex;
    }
    & .footer__info {
      padding-top: 35px;
      padding-bottom: 30px;
    }
    & .footer__column {
      padding-top: 0;
      &:not(:last-of-type) {
        display: none;
      }
      &:nth-of-type(1) {
        display: flex;
      }
    }
    & .footer__copyright_link {
      font-size: 12px;
    }
    & .footer__copyright_text {
      margin-bottom: 17px;
      color: rgba(255, 255, 255, .5);
    }
    & .footer__links_title {
      font-weight: 500;
      font-size: 15px;
      line-height: 114.8%;
      margin-bottom: 23px;
    }
  }
  .footer {
    &__link {
      & span {
        display: none;
      }
      &::before {
        content: "";
        display: flex;
      }
    }
    &__links {
      align-items: center;
    }
    &__column {
      &:first-of-type {
        display: flex;
        & .logo {
          width: 125px;
          height: 35px;
        }
      }
      &:last-of-type {
        padding-top: 102px;
        padding-bottom: 0;
      }
    }
    &__copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .twitter {
    &__wrapper {
      order: 1;
    }
    &__link {
      &::before {
        background: url("./assets/images/social-icons/twitter.svg") no-repeat center;
        width: 25px;
        height: 20px;
      }
    }
  }
  .instagram {
    &__wrapper {
      order: 3;
    }
    &__link {
      &::before {
        background: url("./assets/images/social-icons/instagram.svg") no-repeat center;
        width: 29px;
        height: 29px;
      }
    }
  }
  .facebook {
    &__wrapper {
      order: 2;
    }
    &__link {
      &::before {
        background: url("./assets/images/social-icons/fb.svg") no-repeat center;
        width: 12px;
        height: 25px;
      }
    }
  }
  .info__download .info__buttons .button:nth-of-type(1) {
    margin-right: 20px;
  }
}