.warning {
  position: fixed;
  z-index: 11;
  background-color: $worning-bg;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 35px;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom left;
  transition: opacity .5s cubic-bezier(.25, 1, .5, 1), transform .5s cubic-bezier(.25, 1, .5, 1);
  &--show {
    transform: scaleY(1);
    opacity: 1;
  }

  &::before {
    content: "";
    width: 36px;
    height: 38px;
    margin-right: 30px;
    flex-shrink: 0;
    background: url("./assets/images/icons/worning.svg") no-repeat center;
    background-size: contain;
  }
  &__info {
    padding-right: 30px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
  }
  & .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 2px 44px 0;
    line-height: 48px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .warning {
    padding: 30px 20px 35px;
    & .button {

    }
  }
}

@media screen and (max-width: 768px) {
  .warning {
    padding: 22px 20px 27px;
    &__info {
      font-size: 14px;
      padding-right: 55px;
    }
    & .button {
      font-size: 18px;
      padding: 2px 44px 0;
      line-height: 43px;
    }
    &::before {
      width: 40px;
      height: 43px;
      margin-right: 35px;
    }
  }
}

@media screen and (max-width: 480px) {
  .warning {
    padding: 20px 10px 60px;
    align-items: flex-start;
    & .button {
      font-size: 10px;
      line-height: 24px;
      position: absolute;
      left: 58px;
      bottom: 20px;
      padding: 1px 24px 0;
    }
    &__info {
      font-size: 12px;
      padding-right: 40px;
      line-height: 130%;
      padding-top: 5px;
    }
    &::before {
      margin-right: 10px;
      width: 33px;
      height: 35px;
    }
  }
}