.form {
  &__search {
    display: flex;
    align-items: center;
    max-width: 645px;
    position: relative;
    & input {
      height: inherit;
      width: 100%;
    }
    &::before {
      content: "";
      background: url("./assets/images/icons/search.svg") no-repeat center;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      flex-shrink: 0;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__steps {
    background-color: $light-color;
  }
}

input[type='search'] {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  color: #666666;
}

.complain {
  textarea {
    &.input__form {
      font-size: 16px;
      line-height: 16px;
      padding: 25px;
      height: 150px;
      &:nth-of-type(1) {
        margin-top: 18px;
      }
    }
  }

}

input:focus {
  &::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  &:-moz-placeholder {
    color: transparent;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  &::-moz-placeholder {
    color: transparent;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  &:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

select[name="lang"] {
  display: none;
}

.select--custom {
  display: flex;
  align-items: center;
  height: 100%;
  &::after {
    content: "";
    background: url("./assets/images/icons/arrow.svg");
    width: 7px;
    height: 4.5px;
    display: block;
    margin-left: 8px;
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 920px) {
  .form {
    &__search {
      & input {
        font-size: 16px;
      }
      &::before {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    &__search {
      &::before {
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .complain {
    textarea {
      &.input__form {
        height: 117px;
        padding: 17px 15px;
      }
    }

  }
}

@media screen and (max-width: 640px) {
  input {
    padding-left: 15px;
  }
}