header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2.6% 0 1.3%;
  & .form__search {
    margin-left: 12.5%;
    width: 74%;
  }
  & .form--click {
    display: none;
  }
  & .select__lang {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  & .header__nav {
    margin-right: 25px;
  }
}

.header{
  &__column {
    display: flex;
    align-items: center;
    height: 100%;
    &:nth-of-type(1) {
      width: 47.5%;
    }
  }
}

.select__lang {
  cursor: pointer;
  position: relative;

  .current_lang {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #666666;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      background: url("./assets/images/icons/arrow.svg");
      width: 7px;
      height: 4.5px;
      display: block;
      margin-left: 8px;
      transition: transform .5s cubic-bezier(.25, 1, .5, 1);
    }
  }

  .lang_list {
    transition: opacity .5s cubic-bezier(.25, 1, .5, 1), transform .5s cubic-bezier(.25, 1, .5, 1);
    position: absolute;
    left: -30px;
    top: 100%;
    transform-origin: 0 0;
   // transform: scaleY(0);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    .lang__header_item {
      display: none;
    }

    .lang__item {
      width: 123px;
      height: 64px;
      background-color: #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 30px;
      &--current {
        display: none;
      }
      .lang__link {
        color: #282525;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        &--mobile {
          display: none;
        }
      }

      &:hover {
        background-color: #f02730;

        .lang__link {
          color: #ffffff;
        }

      }
    }
  }

  &--open {
    .lang_list {
  //    transform: scaleY(1);
      opacity: 1;
      z-index: 77;
    }

    .current_lang{
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.auth {
  & .button {
    border-radius: 3px;
    padding: 0 22px;
    height: 46px;
  }
  & .button--outline {
    transition: color 0.3s ease-out;
    &:hover {
      color: #E61F28;
    }
    &--active {
      color: $accent-color;
    }
  }
}

@media screen and (max-width: 1590px) {
  header {
    & .auth {
      & .button {
        padding: 0 15px;
      }
    }
    & .select__lang {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1440px) {
  header {
    & .auth {
      & .button {
        font-size: 17px;
      }
    }
  }
  .select__lang {
    .current_lang {
      font-size: 17px;
    }
    & .lang_list .lang__item .lang__link {
      font-size: 17px;
    }
  }
  .header{
    &__column {
      &:nth-of-type(1) {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    & .select__lang {
      margin-right: 15px;
    }
    & .header__nav {
      margin-right: 15px;
    }
    & .auth {
      & .button {
        padding: 0 12px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    & .auth {
      & .button {
        font-size: 15px;
      }
    }
    .select__lang {
      .current_lang {
        font-size: 15px;
      }
    }
    & .header__nav {
      margin-right: 10px;
    }
    & .auth {
      & .button {
        padding: 0 10px;
      }
    }
    & .select__lang {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 920px) {
  header {
    & .auth {
      & .button {
        font-size: 14px;
      }
    }
    .select__lang {
      .current_lang {
        font-size: 14px;
      }
    }
    & .header__nav {
      margin-right: 5px;
    }
    & .select__lang {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 820px) {
  header {
    & .auth {
      & .button {
        font-size: 13px;
      }
    }
    .select__lang {
      .current_lang {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    .form--click {
      display: flex;
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      height: 80px;
      z-index: 999;
      &::after {
        content: "";
        width: 100%;
        height: auto;
      }
      &_hidden {
        display: none;
      }
    }
    .form__search {
      margin-left: 7%;
      transform: translateX(0);
      transition: translate 0.3s ease-out;
    }

    .search--big {
      & .form__search {
        transform: translateX(-102px);
        height: 100%;
        z-index: 99;
        & input {
          padding-left: 15px;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header .select__lang .lang_list .lang__item .lang__link--mobile {
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #282525;
  }
  header {
    position: relative;
    padding: 0 20px;
    height: 66px;
    .form--click {
      top: -24px;
      height: 66px;
    }
    .search--big {
      & .form__search {
        transform: translateX(-102px);
      }
    }
    &.popup--visible {
      position: static;
    }
    .header{
      &__column {
        &:nth-of-type(1) {
          width: 70%;
        }
      }
    }

    & .header__nav {
      margin-right: 0;
      width: 100%;
    }

    .select__lang {
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      height: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 23px;
      &::before {
        content: 'Language';
      }
      &::after {
        content: '';
        display: block;
        background: url(./assets/images/icons/arrow-small.svg);
        height: 13px;
        width: 9px;
      }
      .current_lang {
        font-size: 15px;
        font-weight: 400;
        color: #282525;
        line-height: 15;
        display: none;
        &::after {
          display: none;
        }
      }
      &--open {
        &::before {
          display: none;
        }
      }
      .lang_list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 280px;
        height: 100vh;
        background-color: #ffffff;
        transform: scaleY(1) translateX(100%);
        transform-origin: top right;
        .lang__item {
          border-bottom: 1px solid #f2f2f2;
          height: 55px;
          display: flex;
          align-items: center;
          padding: 0 0 0 23px;
          width: 100%;
          &--current {
            display: flex;
          }
          .lang__link {
            display: none;
            &--mobile {
              display: flex;
            }
          }
        }

        .lang__header_item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: bold;
          font-size: 22px;
          color: #000000;
          padding: 27px 20px 21px 23px;
          border-bottom: 1px solid #f2f2f2;
          width: 100%;

          .lang__back {
            display: flex;
            align-items: center;
            height: 45px;
            padding-right: 10px;

            &::after {
              content: '';
              display: block;
              background: url("./assets/images/icons/back.svg");
              height: 14px;
              width: 10px;

            }
          }

          span {
            flex-grow: 1;
          }
        }
      }

      &--open {
        .lang_list {
          visibility: visible;
          transform: translateX(0);
          opacity: 1;
          z-index: 7;
        }
      }
      &--close {
        .lang_list {
          visibility: hidden;
        }
      }
    }

    & .auth {
      width: 100%;
      align-items: center;
      & .button {
        width: 100%;
        max-width: 235px;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        height: initial;
        line-height: 43px;
        padding-bottom: 2px;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  header {
    .search--big {
      & .form__search {
        transform: translateX(-145px);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 50px;
    padding: 0 15px;
    .form__search {
      margin-left: 10%;
      &::before {
        order: 1;
        margin-right: 0;
      }
    }
    .header__column:nth-of-type(1) {
      width: 80%;
    }
    .search--big {
      & .form__search {
        left: 15px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .search--big {
      & .form__search {
        transform: translateX(-120px);
      }
    }
  }
}