.logo {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    height: auto;
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 100px;
  }
}

@media screen and (max-width: 920px) {
  .logo {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 110px;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    width: 68px;
  }
}