.menu {
  display: flex;
  &__item {
    padding: 25px;
  }
  &__link {
    @include headerText;
    transition: color 0.3s ease-out;
    &--active {
      color: $accent-color;
    }
  }

  &__header_item {
    display: none;
  }

  &__item {
    &:hover {
      & .menu__link {
        color: $accent-color;
      }
    }
  }
  &--toggle {
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F02730;
    &:hover {
      background-color: $hover-color;
    }
    &:active {
      background-color: $active-color;
    }
  }
  &__line {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/images/icons/burger-small.svg") no-repeat center transparent;
    width: 15px;
    height: 12px;
  }

  &--show {
    background-color: $light-color;
    & .menu__line {
      &::before,
      &::after {
        background-color: $accent-color;
      }
    }
    &:hover {
      background-color: $light-color;
    }
    &:active {
      background-color: $light-color;
    }
  }
}

@media screen and (max-width: 1590px) {
  .menu {
    &__item {
      padding: 25px 20px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .menu {
    &__link {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    &__item {
      padding: 25px 15px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .menu {
    &__link {
      font-size: 15px;
    }
    &__item {
      padding: 25px 10px;
    }
  }
}

@media screen and (max-width: 920px) {
  .menu {
    &__link {
      font-size: 14px;
    }
    &__item {
      padding: 25px 8px;
    }
  }
}

@media screen and (max-width: 820px) {
  .menu {
    &__link {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  @keyframes menuMobileShow {
    from {
      transform: translateX(100%);
      opacity: 0;
      transform-origin: right;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes menuMobileHidden {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
      transform-origin: right;
    }
  }
  .menu {
    &--toggle {
      display: flex;
      width: 45px;
      height: 45px;
      position: relative;
      cursor: pointer;
      //z-index: 111;
    }
    &--mobile {
      overflow: hidden;
      display: flex;
      transform: translateX(-100%);
      opacity: 0;
      // transition: opacity .5s cubic-bezier(.25, 1, .5, 1), transform .5s cubic-bezier(.25, 1, .5, 1);
      flex-direction: column;
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      background-color: $light-color;
      width: 80%;
      min-width: 280px;
      height: 100vh;
      align-items: flex-start;
      & .menu {
        flex-direction: column;
        width: 100%;

        &__header_item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: bold;
          font-size: 22px;
          color: #000000;
          padding: 16px 5px 12px 23px;
          border-bottom: 1px solid #f2f2f2;
        }

        &__close {
          display: block;
          position: relative;
          width: 45px;
          height: 45px;
          border-radius: 50%;

          &::before,
          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 19px;
            background-color: #f02730;
            position: absolute;
            top: 22px;
            left: 13px;
          }

          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(135deg);
          }
        }

        &__item {
          border-bottom: 1px solid #f2f2f2;
          height: 55px;
          display: flex;
          align-items: center;
          padding: 0 0 0 23px;
        }

        &__link {
          font-size: 15px;
          font-weight: normal;
          color: #282525;
          line-height: 15px;
        }
      }
      & .auth {
        display: flex;
        flex-direction: column;
      }

      &_show {
        z-index: 999;
        transform: translateX(0);
        opacity: 1;
        animation-fill-mode: forwards;
        animation: menuMobileShow .5s cubic-bezier(.25, 1, .5, 1);
      }
      &_hidden {
        transform: translateX(-100);
        opacity: 0;
        animation-fill-mode: forwards;
        animation: menuMobileHidden .5s cubic-bezier(.25, 1, .5, 1);
      }

      &--hidden{
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu {
    &--mobile {
      height: 100vw;
    }
  }
}

@media screen and (max-width: 640px) {
  .menu {
    &--toggle {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .menu {
    &__line {
      width: 9px;
      height: 7px;
      background: url("./assets/images/icons/burger.svg") no-repeat center transparent;
    }
  }
}
