@keyframes popupShow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popupHidden {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes imgShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1040px;
  height: 528px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  &--show {
    display: flex;
    opacity: 1;
    animation: popupShow 0.3s ease-out;
  }
  &--hidden {
    animation: popupHidden 0.3s ease-out;
  }
  & .button {
    width: 100%;
    border-radius: 5px;
    min-height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 10px 0;
  }
  & .container {
    width: 100%;
    height: auto;
    background-color: $light-color;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 7px 7px 5px;
    & .input__form {
      width: 100%;
      height: 60px;
      padding: 0 24px;
      margin: 10px 0;
    }
  }
  &__content {
    width: 51.75%;
    flex-shrink: 0;
    padding: 70px 70px 0 70px;
  }
  &__img {
    width: 501px;
    flex-shrink: 0;
  }
  & h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: $dark-color;
    margin-bottom: 15px;
  }
  & .checkbox {
    margin: 12px 0 12px;
  }
  &__tabs {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ECECEC;
      border-radius: 5px;
    }
  }
  &__switch {
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 15px 0 20px;
    color: #282525;
    transition: color 0.1s linear;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      display: flex;
      background-color: transparent;
      transition: background-color 0.1s linear;
    }
    &--active {
      position: relative;
      color: $accent-color;;
      &::before {
        content: "";
        background-color: $accent-color;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__tabs,
  &__forms {
    width: 100%;
    display: flex;
  }
  &__form {
    display: none;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.1s linear;
    padding-bottom: 60px;
    &--show {
      opacity: 1;
      display: flex;
      width: 100%;
      animation: imgShow 0.2s linear;
    }
  }
}

.popup {
  &__img {
    display: none;
    border-radius: 0 5px 5px 0;
    &_signUp {
      background: url("./assets/images/popup-img/signup-img.jpg") no-repeat center;
      background-size: cover;
    }
    &_logIn {
      background: url("./assets/images/popup-img/login-img.jpg") no-repeat center;
      background-size: cover;
    }
    &--show {
      display: flex;
      animation: imgShow 0.1s linear;
    }
  }
}

.captcha {
  width: 236px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  background: url("./assets/images/captcha/captcha.png") no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .popup {
    top: 100px;
    bottom: initial;
  }
}

@media screen and (max-width: 1200px) {
  .popup {
    width: 80%;
    &__img {
      width: 48%;
    }
    & .container {
      overflow: hidden;
    }
  }
  .popup__content {
    width: 51.75%;
    flex-shrink: 0;
    min-width: 538px;
  }
}

@media screen and (max-width: 1024px) {
  .popup {
    max-width: 538px;
    & .input__form {
      font-size: 16px;
    }
    &__img {
      display: none;
    }
    &__content {
      padding: 50px 50px 0 50px;
    }
    &__form {
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .popup {
    & .container {
      & .button {
        min-height: 55px;
      }
    }
    &__form {
      padding-bottom: 55px;
    }
  }
}

@media screen and (max-width: 710px) {
  .popup {
    max-width: 420px;
    & .popup__content {
      min-width: 420px;
      padding: 35px 35px 0 35px;
      & .input__form {
        height: 55px;
        padding: 0 20px;
      }
    }
    &__form {
      padding-bottom: 35px;
    }
  }
}

@media screen and (max-width: 540px) {
  .popup {
    & h2 {
      font-size: 26px;
    }
    & .button {
      font-size: 13px;
    }
    & .popup__content {
      min-width: 100%;
      padding: 35px 25px 0 25px;
      & .input__form {
        height: 50px;
        padding: 0 15px;
      }
    }
    &__form {
      padding-bottom: 35px;
    }
  }
}

@media screen and (max-width: 480px) {
  .popup {
    width: 94%;
    & .popup__content {
      padding: 25px 15px 0 15px;
      & .input__form {
        height: 50px;
        padding: 0 10px;
        margin: 8px 0;
      }
    }
    &__form {
      padding-bottom: 25px;
    }
  }
}