.search {
  &__list {
    width: 100%;
  }
  &__item {
    min-height: 50px;
    background-color: $light-color;
    display: flex;
    align-items: center;
    color: $head-dark;
    transition: background-color 0.1s linear, color 0.1s linear;
    padding: 0 30px;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      background-color: $accent-color;
      color: $light-color;
    }
  }
  &__result {
    display: none;
    min-width: 645px;
    background-color: $light-color;
    position: absolute;
    top: 50px;
    z-index: 77;
  }
}

.search__result--show {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .search {
    &__item {
      font-size: 12px;
    }
    &__result {
      min-width: 440px;
      top: 42px;
    }
  }
}

@media screen and (max-width: 820px) and (orientation: landscape) {
  .search {
    &__result {
      top: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    &__result {
      min-width: 400px;
    }
    &__item {
      min-height: 40px;
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .search {
    &__result {
      top: 70px;
    }
  }
}

@media screen and (max-width: 640px) {
  .search {
    &__result {
      top: 50px;
      min-width: 280px;
    }
    &__item {
      line-height: 130%;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .search {
    &__result {
      top: 50px;
    }
  }
}