div.results.liked.content--bg
    div.container
        aside.filter
            div.filter__column
                h5 Категории
                form(name="filter__category").checkbox__list#filterCategories
                    label.checkbox.checkbox--custom(for='allCategories')
                        input(type="checkbox" id="allCategories" name="allCategories" checked)
                        div.checkbox__input
                        span.checkbox__label Все категории
                    label.checkbox.checkbox--custom(for='musicCategory')
                        input(type="checkbox" id="musicCategory" name="musicCategory")
                        div.checkbox__input
                        span.checkbox__label Музыка
                    label.checkbox.checkbox--custom(for='newsCategory')
                        input(type="checkbox" id="newsCategory" name="newsCategory")
                        div.checkbox__input
                        span.checkbox__label Новости
                    label.checkbox.checkbox--custom(for='cinemaCategory')
                        input(type="checkbox" id="cinemaCategory" name="cinemaCategory")
                        div.checkbox__input
                        span.checkbox__label Кино
                    label.checkbox.checkbox--custom(for='musicCategory1')
                        input(type="checkbox" id="musicCategory1" name="musicCategory1")
                        div.checkbox__input
                        span.checkbox__label Музыка
                    label.checkbox.checkbox--custom(for='newsCategory1')
                        input(type="checkbox" id="newsCategory1" name="newsCategory1")
                        div.checkbox__input
                        span.checkbox__label Новости
                    label.checkbox.checkbox--custom(for='cinemaCategory1')
                        input(type="checkbox" id="cinemaCategory1" name="cinemaCategory1")
                        div.checkbox__input
                        span.checkbox__label Кино
                    label.checkbox.checkbox--custom(for='musicCategory2')
                        input(type="checkbox" id="musicCategory2" name="musicCategory2")
                        div.checkbox__input
                        span.checkbox__label Музыка

        section.content.results__video
            div.results__row
                p.title Понравившиеся видео
                p.title--mobile Понравившиеся видео
                div.results__action_button
                    span Фильтр
            ul.results__list.video__list
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video2.jpg" alt="video 2")
                        div.video__info
                            h5 Британские ученые заявили, что обучение кадров
                            span.video__subscribe Добрая половина
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video3.jpg" alt="video 3")
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video4.jpg" alt="video 4")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video9.jpg" alt="video 9")
                        div.video__info
                            h5 Частокол на границе оправдал надежды граждан
                            span.video__subscribe Все чаще
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video10.jpg" alt="video 10")
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
                            span.video__subscribe Крепость духовных скреп
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video11.jpg" alt="video 11")
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                            span.video__subscribe LABELCOM
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video12.jpg" alt="video 12")
                        div.video__info
                            h5 Нет звука приятнее, чем треск разлетающихся скреп
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video13.jpg" alt="video 13")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video14.jpg" alt="video 14")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video15.jpg" alt="video 15")
                        div.video__info
                            h5 Частокол на границе оправдал надежды граждан
                            span.video__subscribe Все чаще
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video16.jpg" alt="video 16")
                        div.video__info
                            h5 Британские ученые заявили, что обучение кадров
                            span.video__subscribe Добрая половина
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video17.jpg" alt="video 17")
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                            span.video__subscribe Сплочённость команды
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video18.jpg" alt="video 18")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video19.jpg" alt="video 19")
                        div.video__info
                            h5 Частокол на границе оправдал надежды граждан
                            span.video__subscribe Все чаще
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video20.jpg" alt="video 20")
                        div.video__info
                            h5 Только реализация намеченных плановых
                            span.video__subscribe Нашу победу
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video21.jpg" alt="video 21")
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                            span.video__subscribe Сплочённость команды
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video22.jpg" alt="video 22")
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
                            span.video__subscribe Крепость духовных скреп
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video23.jpg" alt="video 23")
                        div.video__info
                            h5 Сейчас всё чаще звучит грохот грома градущих
                            span.video__subscribe Сплочённость команды
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video24.jpg" alt="video 24")
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
                            span.video__subscribe Крепость духовных скреп
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video25.jpg" alt="video 25")
                        div.video__info
                            h5 Британские ученые заявили, что обучение кадров
                            span.video__subscribe Добрая половина
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video26.jpg" alt="video 26")
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video27.jpg" alt="video 27")
                        div.video__info
                            h5 Высококачественный прототип будущего проекта
                            span.video__subscribe Только реализация
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video28.jpg" alt="video 28")
                        div.video__info
                            h5 Как бы то ни было, консультация с широким
                            span.video__subscribe Дурное дело
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад
                li.video__item
                    a.video__link(href="#")
                        div.video__img
                            img(src="./assets/images/video-img/video29.jpg" alt="video 29")
                        div.video__info
                            h5 Новая парадигма реальности: кровь стынет
                            span.video__subscribe Крепость духовных скреп
                            div.video__statistics
                                span.video__views.video__views--mobile 530 тис.
                                span.video__date 1 месяц назад