doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="febspot")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='febspot'
        link(rel='apple-touch-icon', sizes='180x180', href='./apple-touch-icon.png')
        link(rel='icon', type='image/png', href='./favicon-32x32.png', sizes='32x32')
        link(rel="shortcut icon" href="./simple-logo.png" type="image/x-icon")
        link(rel='manifest', href='./manifest.json')
    body
        include ./includes/header
        main
            include ./includes/tagging
            include ./includes/target
            include ./includes/watch
            include ./includes/video
            include ./includes/bloggers
            include ./includes/advantages
            include ./includes/download
        include ./includes/footer
        div.overlay

//include ./includes/videoDetailed/videoDetailed

//include ./includes/copyright/copyright

//include ./includes/infoPage/infoPage

    //include ./includes/tagging
    //include ./includes/target
    //include ./includes/watch
    //include ./includes/video
    //include ./includes/bloggers
    //include ./includes/advantages
    //include ./includes/download

    //include ./includes/searchResultsVideo/searchResults

    //include ./includes/likedVideo/likedVideo

    //include ./includes/subscribes/subscribes

    //include ./includes/history/history

    //include ./includes/subscriptionPage/subscriptionPage

    //include ./includes/videoNotAvailable/videoNotAvailable

    //include ./includes/complain/complainContent

    //include ./includes/complain/complainCopyright

    //include ./includes/complain/complainTechnical






