section.info.info__withBg.info__aboutUs
    div.container
        h1 О нас
        p.subtitle Каждый из нас понимает очевидную вещь: убеждённость некоторых оппонентов способствует подготовке и реализации инновационных методов управления процессами.
        button.button.button--solid СТАТЬ ПОПУЛЯРНЫМ
section.info.info__videoAdvantages
    div.container
        h2 Почему именно видео?
        ul.slider.advantages__list
            li.advantages__item
                span Почти 82% пользователей Twitter смотрят видеоконтент на этой платформе
section.info.info__withBg.info__videoContent
    div.container
        h2 Видеоконтент в бизнесе
        ul.info__list.advantages__list
            li.advantages__item
                span.advantages__value 87%
                span.advantages__title онлайн-маркетологов используют возможности видеоконтента
            li.advantages__item
                span.advantages__value 51%
                span.advantages__title специалистов по маркетингу считают видеоконтент предвестником лучшей рентабельности инвестиций
            li.advantages__item
                span.advantages__value 64%
                span.advantages__title потребителей соглашаются совершать покупки после просмотра специального видео контента.
            li.advantages__item
                span.advantages__value 80%
                span.advantages__title Размещение видео на целевых страницах повышает коэффициент конверсии на 80%
section.info.info__begin
    div.container
        h2 Как начать зарабатывать?
        div.card__list
            article.card
                p 1. Создать аккаунт
            article.card
                p 2. Загрузить или снять видео
            article.card
                p 3. Рассказать друзьям или поделиться видео в соцсетях
section.info.info__withBg.info__income
    div.container
        h2 Получайте доход от просмотров и кликов (монетизируйте видео)
        p.subtitle Убеждённость некоторых оппонентов однозначно фиксирует необходимость анализа
        button.button.button--solid СТАТЬ ПОПУЛЯРНЫМ
section.income
    div.container
    h2 Сколько можно заработать с Febspot?
    article.card.income__calc
        div.income__column
            h6 1. Выберите категорию
            div.radioButton__list
                div.radioButton__item
                    input(type="radio" class="radio" id="cinema" name="cause")
                    label(for="cinema") Кино
                div.radioButton__item
                    input(type="radio" class="radio" id="music" name="cause")
                    label(for="music") Музыка
                div.radioButton__item
                    input(type="radio" class="radio" id="music1" name="cause" checked)
                    label(for="music1") Музыка
                div.radioButton__item
                    input(type="radio" class="radio" id="news" name="cause")
                    label(for="news") Новости
                div.radioButton__item
                    input(type="radio" class="radio" id="news1" name="cause")
                    label(for="news1") Новости
                div.radioButton__item
                    input(type="radio" class="radio" id="cinema1" name="cause")
                    label(for="cinema1") Кино
        div.income__column
            div.income__title
                h6 2. Выберите количество просмотров в месяц
                span.income__views#incomeViews 320 000
            div.income__range.input__range
                input(type='range' min="100000" max="1000000" value="320000")
            div.input__range--ambit
                span.input__range--min 100 000
                span.input__range--max 1 000 000
        div.income__column
            div.income__title
                h5 Ваш потенциальный годовой доход*
                p Расчетное значение - только для справки
            span.income__value $ 2,005
            div.income__subtitle *Мы не гарантируем, что вы в обязательном порядке получите указанную сумму. При вычеслении расчетного дохода учитываются указанная вами категория контента. Реальный доход зависит от множества факторов, таких как спрос на рекламные места, местоположения и устройства пользователей, тематика контента, сезон, размер объявлений и курсы валют.
            div.income__button
                button.button.button--solid НАЧАТЬ РАБОТУ